﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>

    <!-- <script src="~/lib/jquery/dist/jquery.min.js"></script> -->
    <script src="~/vendors/base/vendor.bundle.base.js"></script>
    <link rel="stylesheet" type="" href="~/fonts/FontAwesome/css/all.min.css">
    <link rel="stylesheet" href="/lib/base/vendor.bundle.base.css">
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <!-- Year Picker CSS -->
    <link rel="stylesheet" href="~/css/yearpicker.css" />
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css" />
</head>

<body>
    <div class="dialog-background" id="loading">
        <div class="dialog-loading-wrapper">
            <span class="dialog-loading-icon">
                <img src="~/images/loading2.gif">
            </span>
        </div>
    </div>

    <!-- <div class="" id="loading-inner">
        <div class="dialog-loading-wrapper">
            <span class="dialog-loading-icon">
                <img src="~/images/loading3.gif">
            </span>
        </div>
    </div> -->


    <div class="container-scroller">

        <partial name="_Navbar" />
        <div class="container-fluid page-body-wrapper">

            <!-- partial:partials/_sidebar.html -->
            <partial name="_Sidebar" />
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper" style="background-color:#F8F8FF">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
                <partial name="_Footer" />

            </div>

        </div>



        <!-- Moment Js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <!-- Year Picker Js -->
        <script src="~/js/yearpicker.js"></script>
        <script src="~/js/bootstrap-datepicker.min.js"></script>
        <script src="~/js/off-canvas.js"></script>
        <script src="~/js/hoverable-collapse.js"></script>

        <script src="~/js/todolist.js"></script>
        <script src="~/js/dashboard.js"></script>
        <script src="~/js/template.js"></script>

        <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-analytics.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-storage.js"></script>

        <!-- <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.19/lodash.min.js"></script> -->
        <script>
            // Your web app's Firebase configuration
            var firebaseConfig = {
                apiKey: "AIzaSyB9Eigcvz3ailS1LW0Fz_H1RVYjP_ZgfsA",
                authDomain: "tnb-cma-app-dev.firebaseapp.com",
                databaseURL: "https://tnb-cma-app-dev.firebaseio.com",
                projectId: "tnb-cma-app-dev",
                storageBucket: "tnb-cma-app-dev.appspot.com",
                messagingSenderId: "1046620154334",
                appId: "1:1046620154334:web:64e4960f550617a323954f",
                measurementId: "G-E2K7EBRSR7"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.analytics();

            //formating the json date
            function formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2)
                    month = '0' + month;
                if (day.length < 2)
                    day = '0' + day;
                                                                                                                                                                                                                                                                                                                                                        
                return [day, month, year].join('.');
            }

            $("#loading").hide();
            $('main').removeClass('blur');
            //  $("#loading-inner").hide();
        </script>

        @RenderSection("Scripts", required: false)

</body>

</html>