﻿

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Dashboard" id="dashboard">
                <i class="mr-2 fas fa-tachometer-alt "></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>

      <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">
                <i class="mr-2 fas fa-user"></i>
                <span class="menu-title">Manage Profile</span>               
            </a>
          
        </li>  
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/SqeSearch" id="sqe">
                <i class="mr-2 fas fa-folder-open    "></i>
                <span class="menu-title">SQE Assessment</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/ProgressReport" id="progress">
                <i class="mr-2 fas fa-tools    "></i>
                <span class="menu-title">Progress Report</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/BlockerReport" id="blocker">
                <i class="mr-2 fas fa-exclamation-triangle    "></i>
                <span class="menu-title">Blocker</span>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/PoEvaluation" id="evaluation">
                <i class="mr-2 fas fa-tasks"></i>
                <span class="menu-title">PO/ Workplan Evaluation</span>
            </a>
        </li>


    </ul>
</nav>

