@page
@model cma_officer.Pages.PoEvaluationSeePictureModel
@{
ViewData["Title"] = "PoEvaluationSeePicture";
Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card">
        <img src="" alt="">
        <div class="card-body">
            <h4 class="card-title">Photo Progress Summary</h4>
            <div class="row">
                <div class="col-md-12">
                    <!-- <ul class="list-group" id="myProgressList">
                        <li class="list-group-item">
                            <h5><i class="fas fa-calendar-check-o mr-2"></i> Date:<span id="dateCreated"></span> </h5>
                        </li>
                        <li class="list-group-item ">
                            <div class="row ">
                                <div class="col-md-2 pl-0 pr-0">
                                    <ul class="list-group pl-0 pr-0">
                                        <li class="list-group-item" id="dateScheduled1"></li>
                                        <li class="list-group-item" id="location1"></li>
                                        <li class="list-group-item" id="todonotes2"></li>
                                    </ul>
                                </div>


                                <div class="col-md-4">
                                    <figure class="figure p-0 m-0">
                                        <img class="figure-img img-fluid rounded" id="beforePic01" alt="media"
                                            src="~/images/add_image.png">
                                        <figcaption class="figure-caption text-center">Picture Before</figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-2 pl-0 pr-0">
                                    <ul class="list-group pl-0 pr-0">
                                        <li class="list-group-item" id="dateScheduled1"></li>
                                        <li class="list-group-item" id="location1"></li>
                                        <li class="list-group-item" id="todonotes2"></li>
                                    </ul>
                                </div>

                                <div class="col-md-4">
                                    <figure class="figure p-0 m-0">
                                        <img class="figure-img img-fluid rounded" id="beforePic01" alt="media"
                                            src="~/images/add_image.png">
                                        <figcaption class="figure-caption text-center">Picture Before</figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <figure class="figure p-0 m-0">
                                        <img class="figure-img img-fluid rounded" id="beforePic02" alt="media"
                                            src="~/images/add_image.png">
                                        <figcaption class="figure-caption text-center">Picture Before</figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="figure p-0 m-0">
                                        <img class="figure-img img-fluid rounded" id="beforePic02" alt="media"
                                            src="~/images/add_image.png">
                                        <figcaption class="figure-caption text-center">Picture After</figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <figure class="figure p-0 m-0">
                                        <img class="figure-img img-fluid rounded" id="beforePic03" alt="media"
                                            src="~/images/add_image.png">
                                        <figcaption class="figure-caption text-center">Picture Before</figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="figure p-0 m-0">
                                        <img class="figure-img img-fluid rounded" id="beforePic03" alt="media"
                                            src="~/images/add_image.png">
                                        <figcaption class="figure-caption text-center">Picture After</figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <figure class="figure p-0 m-0">
                                        <img class="figure-img img-fluid rounded" id="beforePic04" alt="media"
                                            src="~/images/add_image.png">
                                        <figcaption class="figure-caption text-center">Picture Before</figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="figure p-0 m-0">
                                        <img class="figure-img img-fluid rounded" id="beforePic04" alt="media"
                                            src="~/images/add_image.png">
                                        <figcaption class="figure-caption text-center">Picture After</figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <figure class="figure p-0 m-0">
                                        <img class="figure-img img-fluid rounded" id="beforePic05" alt="media"
                                            src="~/images/add_image.png">
                                        <figcaption class="figure-caption text-center">Picture Before</figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="figure p-0 m-0">
                                        <img class="figure-img img-fluid rounded" id="after" alt="media"
                                            src="~/images/add_image.png">
                                        <figcaption class="figure-caption text-center">Picture After</figcaption>
                                    </figure>
                                </div>
                            </div>

                        </li>


                    </ul> -->

                    <table class="table table-bordered" id="mytable">
                        <tbody>


                        </tbody>
                    </table>

                </div>
            </div>


        </div>
        <div class="card-footer text-center">
            <button type="button" class="btn btn-primary btn-icon-text ls-2" id="btn-submit"
                onclick="javascript:history.go(-1)">
                <i class="fas fa-arrow-left"></i>
                Kembali
            </button>
        </div>
    </div>


</div>

@section Scripts {


<script type="text/javascript" language="JavaScript">

    var list = new Array;

    var poWorkplanId = getUrlVars()["id"];
    console.log("poWorkplanId: " + poWorkplanId);



    getPictures();

    function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
            vars[key] = value;
        });
        return vars;
    }
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [day, month, year].join('.');
    }

    function getPictures() {

        const proxyurl = "https://cors-anywhere.herokuapp.com/";
        const url = "https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/POInfoPhotoSummaryByWorkplanID/" + poWorkplanId;
        const myurl = url;

        // const imageUrl = "https://firebasestorage.googleapis.com/v0/b/tnb-cma-app-dev.appspot.com/o/gambarkerja";
        const defaultUrl = "images/add_image.png";

        // setup firebase storage 
        //................................
        var storage = firebase.storage();
        var storageRef = storage.ref();
        var starsRef;
        //................................

        fetch(myurl, {

            cache: "no-cache",
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },

        })
            .then(response => response.json())
            .then(function (data) {
                console.log(data);

                // store result in array 
                var items = [];
                items.length = 0;
                var starsRef;

                var photoBefore1 = []; var photoAfter1 = [];
                var photoBefore2 = []; var photoAfter2 = [];
                var photoBefore3 = []; var photoAfter3 = [];
                var photoBefore4 = []; var photoAfter4 = [];
                var photoBefore5 = []; var photoAfter5 = []

                // incremental for id before/after :
                var b1 = 0;
                var a1 = 0;
                 var b2 = 0;
                var a2 = 0;
                 var b3 = 0;
                var a3 = 0;
                 var b4 = 0;
                var a4 = 0;
                 var b5 = 0;
                var a5 = 0;

                $.each(data, function (key, val) {

                        if (val.photoBefore01 != null || val.photoAfter01 != null ||
                        val.photoBefore02 != null || val.photoAfter02 != null ||
                        val.photoBefore03 != null || val.photoAfter03 != null ||
                        val.photoBefore04 != null || val.photoAfter04 != null ||
                        val.photoBefore05 != null || val.photoAfter05 != null) {

                        photoBefore1.push(val.photoBefore01);
                        photoBefore2.push(val.photoBefore02);
                        photoBefore3.push(val.photoBefore03);
                        photoBefore4.push(val.photoBefore04);
                        photoBefore5.push(val.photoBefore05);
                     
                        photoAfter1.push(val.photoAfter01);
                        photoAfter2.push(val.photoAfter02);
                         photoAfter3.push(val.photoAfter03);

                            photoAfter4.push(val.photoAfter04);
                             photoAfter5.push(val.photoAfter05);




                        items.push("<tr>");
                        items.push("<td id='" + key + "'>" +
                            "<img alt='media' src='' id='"+key+"' class='mb-2'/><br>" + "Photo Before" +"<br>"+
                            "<p class='text-muted ls-1'> Date Scheduled: "+ formatDate(val.dateScheduled) + " | " + 
                            val.location + "<br>" + 
                            val.toDoNotes + "</p>" +val.id +"</td>");

                        items.push("<td id='" + key + "'>" +
                            "<img alt='media' src='' id='photoAfter" + (a1 = a1 + 1) + "' class='mb-2'/><br>" + "Photo After" + "<br>" + 
                            "<p class='text-muted ls-1'> Date Scheduled: " + formatDate(val.dateScheduled) + " | " +
                            val.location + "<br>" +
                            val.toDoNotes + "</p>" +val.id +" </td>");
                        items.push("</tr>");
                        // // 2.
                        // items.push("<tr>");
                        // items.push("<td id='" + key + "'>" +
                        //     "<img alt='media' src='' id='photoBefore02_" + (b2 = b2 + 1) + "' class='mb-2'/><br>" + "Photo Before" + "<br>" + 
                        //     "<p class='text-muted ls-1'> Date Scheduled: " + formatDate(val.dateScheduled) + " | " +
                        //     val.location + "<br>" +
                        //     val.toDoNotes + "</p></td>");

                        // items.push("<td id='" + key + "'>" +
                        //     "<img alt='media' src='' id='photoAfter02_" + (a2 = a2 + 1) + "' class='mb-2'/><br>" + "Photo After" + "<br>" + 
                        //     "<p class='text-muted ls-1'> Date Scheduled: " + formatDate(val.dateScheduled) + " | " +
                        //     val.location + "<br>" +
                        //     val.toDoNotes + "</p></td>");
                        // items.push("</tr>");
                        // 3.
                            
                    }

                });

                $("<tbody>", { html: items.join("") }).appendTo("#mytable");



                for (var i = 0; i <= photoBefore1.length - 1; i++) {
                    photoId = i + 1;
                    refPath = storage.ref('gambarkerja/' + photoBefore1[i]);
                    (function (pid) {
                        refPath.getDownloadURL().then(function (url) {
                            // console.log("image Url:", url);
                            document.getElementById('photoBefore' + pid).src = url;
                        }).catch(function (error) {
                            //console.log(error);
                            document.getElementById('photoBefore' + pid).src = defaultUrl;
                        });
                    })(photoId);
                }
                for (var i = 0; i <= photoBefore2.length - 1; i++) {
                    photoId = i + 1;
                    refPath = storage.ref('gambarkerja/' + photoBefore2[i]);
                    (function (pid) {
                        refPath.getDownloadURL().then(function (url) {
                            // console.log("image Url:", url);
                            document.getElementById('photoBefore' + pid).src = url;
                        }).catch(function (error) {
                            //console.log(error);
                            document.getElementById('photoBefore' + pid).src = defaultUrl;
                        });
                    })(photoId);
                }
                for (var i = 0; i <= photoBefore3.length - 1; i++) {
                    photoId = i + 1;
                    refPath = storage.ref('gambarkerja/' + photoBefore3[i]);
                    (function (pid) {
                        refPath.getDownloadURL().then(function (url) {
                            // console.log("image Url:", url);
                            document.getElementById('photoBefore' + pid).src = url;
                        }).catch(function (error) {
                            //console.log(error);
                            document.getElementById('photoBefore' + pid).src = defaultUrl;
                        });
                    })(photoId);
                }
                for (var i = 0; i <= photoBefore4.length - 1; i++) {
                    photoId = i + 1;
                    refPath = storage.ref('gambarkerja/' + photoBefore4[i]);
                    (function (pid) {
                        refPath.getDownloadURL().then(function (url) {
                            // console.log("image Url:", url);
                            document.getElementById('photoBefore' + pid).src = url;
                        }).catch(function (error) {
                            //console.log(error);
                            document.getElementById('photoBefore' + pid).src = defaultUrl;
                        });
                    })(photoId);
                }
                for (var i = 0; i <= photoBefore5.length - 1; i++) {
                    photoId = i + 1;
                    refPath = storage.ref('gambarkerja/' + photoBefore5[i]);
                    (function (pid) {
                        refPath.getDownloadURL().then(function (url) {
                            // console.log("image Url:", url);
                            document.getElementById('photoBefore' + pid).src = url;
                        }).catch(function (error) {
                            //console.log(error);
                            document.getElementById('photoBefore' + pid).src = defaultUrl;
                        });
                    })(photoId);
                }

                for (var i = 0; i <= photoAfter1.length - 1; i++) {
                    photoId = i + 1;
                    refPath = storage.ref('gambarkerja/' + photoAfter1[i]);
                    (function (pid) {
                        refPath.getDownloadURL().then(function (url) {
                            //console.log("After Url:", url);
                            document.getElementById('photoAfter' + pid).src = url;
                        }).catch(function (error) {
                            //console.log(error);
                            document.getElementById('photoAfter' + pid).src = defaultUrl;
                        });
                    })(photoId);
                }
                for (var i = 0; i <= photoAfter2.length - 1; i++) {
                    photoId = i + 1;
                    refPath = storage.ref('gambarkerja/' + photoAfter2[i]);
                    (function (pid) {
                        refPath.getDownloadURL().then(function (url) {
                            console.log("After Url:", url);
                            document.getElementById('photoAfter02_' + pid).src = url;
                        }).catch(function (error) {
                            //console.log(error);
                            document.getElementById('photoAfter02_' + pid).src = defaultUrl;
                        });
                    })(photoId);
                }
                for (var i = 0; i <= photoAfter3.length - 1; i++) {
                    photoId = i + 1;
                    refPath = storage.ref('gambarkerja/' + photoAfter3[i]);
                    (function (pid) {
                        refPath.getDownloadURL().then(function (url) {
                            console.log("After Url:", url);
                            document.getElementById('photoAfter02_' + pid).src = url;
                        }).catch(function (error) {
                            //console.log(error);
                            document.getElementById('photoAfter02_' + pid).src = defaultUrl;
                        });
                    })(photoId);
                }
                for (var i = 0; i <= photoAfter4.length - 1; i++) {
                    photoId = i + 1;
                    refPath = storage.ref('gambarkerja/' + photoAfter4[i]);
                    (function (pid) {
                        refPath.getDownloadURL().then(function (url) {
                            console.log("After Url:", url);
                            document.getElementById('photoAfter02_' + pid).src = url;
                        }).catch(function (error) {
                            //console.log(error);
                            document.getElementById('photoAfter02_' + pid).src = defaultUrl;
                        });
                    })(photoId);
                }
                for (var i = 0; i <= photoAfter5.length - 1; i++) {
                    photoId = i + 1;
                    refPath = storage.ref('gambarkerja/' + photoAfter5[i]);
                    (function (pid) {
                        refPath.getDownloadURL().then(function (url) {
                            console.log("After Url:", url);
                            document.getElementById('photoAfter02_' + pid).src = url;
                        }).catch(function (error) {
                            //console.log(error);
                            document.getElementById('photoAfter02_' + pid).src = defaultUrl;
                        });
                    })(photoId);
                }





            })
            .catch(function (error) {
                // If there is any error you will catch them here
                console.log(error);
            });

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [day, month, year].join('.');
        }








    }



</script>

}