@page
@model cma_officer.Pages.PoEvaluationSeePictureModel
@{
ViewData["Title"] = "PoEvaluationSeePicture";
Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card">
        <img src="" alt="">
        <div class="card-body">
            <h4 class="card-title">Photo Progress Summary</h4>
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-group" id="myProgressList">
                        <li class="list-group-item">
                            <h5><i class="fas fa-calendar-check-o mr-2"></i> Date:<span id="dateCreated"></span> </h5>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure class="figure p-0 m-0">
                                        <img class="figure-img img-fluid rounded" id="beforePic01" alt="media"
                                            src="~/images/add_image.png">
                                        <figcaption class="figure-caption text-center">Picture Before</figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="figure p-0 m-0">
                                        <img class="figure-img img-fluid rounded" id="beforePic01" alt="media"
                                            src="~/images/add_image.png">
                                        <figcaption class="figure-caption text-center">Picture Before</figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <figure class="figure p-0 m-0">
                                        <img class="figure-img img-fluid rounded" id="beforePic02" alt="media" src="~/images/add_image.png">
                                        <figcaption class="figure-caption text-center">Picture Before</figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="figure p-0 m-0">
                                        <img class="figure-img img-fluid rounded" id="beforePic02" alt="media" src="~/images/add_image.png">
                                        <figcaption class="figure-caption text-center">Picture After</figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <figure class="figure p-0 m-0">
                                        <img class="figure-img img-fluid rounded" id="beforePic03" alt="media" src="~/images/add_image.png">
                                        <figcaption class="figure-caption text-center">Picture Before</figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="figure p-0 m-0">
                                        <img class="figure-img img-fluid rounded" id="beforePic03" alt="media" src="~/images/add_image.png">
                                        <figcaption class="figure-caption text-center">Picture After</figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <figure class="figure p-0 m-0">
                                        <img class="figure-img img-fluid rounded" id="beforePic04" alt="media" src="~/images/add_image.png">
                                        <figcaption class="figure-caption text-center">Picture Before</figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="figure p-0 m-0">
                                        <img class="figure-img img-fluid rounded" id="beforePic04" alt="media" src="~/images/add_image.png">
                                        <figcaption class="figure-caption text-center">Picture After</figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <figure class="figure p-0 m-0">
                                        <img class="figure-img img-fluid rounded" id="beforePic05" alt="media" src="~/images/add_image.png">
                                        <figcaption class="figure-caption text-center">Picture Before</figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="figure p-0 m-0">
                                        <img class="figure-img img-fluid rounded" id="after" alt="media" src="~/images/add_image.png">
                                        <figcaption class="figure-caption text-center">Picture After</figcaption>
                                    </figure>
                                </div>
                            </div>

                        </li>


                    </ul>

                    <!-- <div id="mypanel">
                        <figure class="figure">
                            <img id="beforePic01" class="figure-img img-fluid " alt="" style="border-radius: 0;" alt="media">
                            <figcaption class="figure-caption">Picture Before</figcaption>
                        </figure>
                    </div> -->





                </div>
            </div>


        </div>
        <div class="card-footer text-center">
            <button type="button" class="btn btn-primary btn-icon-text ls-2" id="btn-submit"
                onclick="javascript:history.go(-1)">
                <i class="fas fa-arrow-left"></i>
                Kembali
            </button>
        </div>
    </div>


</div>

@section Scripts {


<script type="text/javascript" language="JavaScript">

    var list = new Array;

    var poWorkplanId = getUrlVars()["id"];
    console.log("poWorkplanId: " + poWorkplanId);

    getPictures();

    function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
            vars[key] = value;
        });
        return vars;
    }
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [day, month, year].join('.');
    }

    function getPictures() {

        const proxyurl = "https://cors-anywhere.herokuapp.com/";
        const url = "https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/POInfoPhotoSummaryByWorkplanID/" + poWorkplanId;
        const myurl = url;

        const imageUrl = "https://firebasestorage.googleapis.com/v0/b/tnb-cma-app-dev.appspot.com/o/gambarkerja";
        const defaultUrl = "~/images/add_image.png";

        // setup firebase storage 
        //................................
        var storage = firebase.storage();
        var storageRef = storage.ref();
        var photoBefore = [];
        // var photoBefore02 ;
        // var photoBefore03 ;
        // var photoBefore04 ;
        // var photoBefore05 ;
        //................................

        fetch(myurl, {

            cache: "no-cache",
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },

        })
            .then(response => response.json())
            .then(function (data) {
                console.log(data);

                // store result in array 
                var list = new Array;
                list.length = 0;
                $.each(data, function (key, val) { list.push(val); });

                //group data by date
                const groupBy = (array, key) => {
                    return array.reduce((result, currentValue) => {
                        (result[currentValue[key]] = result[currentValue[key]] || []).push(currentValue);
                        return result;
                    }, {});
                };

                // get the image name 
                var myarray = new Array;
                var items = [];
                myarray = groupBy(list, 'dateScheduled');
                //console.log('myarray = ', myarray);  



                $.each(myarray, function (dateScheduled, val) {
                    //console.log ("dateScheduled= ", dateScheduled); 
                    $.each(val, function (key, innerArrayValue) {

                        console.log(innerArrayValue);
                    });
                });
                // $("<ul/>", {
                //     "class": " list-group my-new-list",
                //     html: items.join("")
                // }).appendTo("#mypanel");
                console.log(photoBefore);


            })
            .catch(function (error) {
                // If there is any error you will catch them here
                console.log(error);
            });

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [day, month, year].join('.');
        }
    }


</script>

}