@page
@model cma_officer.Pages.PoEvaluationSeePictureModel
@{
ViewData["Title"] = "PoEvaluationSeePicture";
Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card">
        <img src="" alt="">
        <div class="card-body">
            <h4 class="card-title">Photo Progress Summary</h4>
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-group" id="myProgressList">
                        <li class="list-group-item">
                            <h5><i class="fas fa-calendar-check-o mr-2"></i> Date:<span id="dateCreated"></span> </h5>
                        </li>
                        <li class="list-group-item">
                            <!-- <table class="table table-bordered text-center">

                                <tbody>
                                    <tr>
                                        <td>
                                            <div class='date'> </div>
                                            <p class="dateScheduled"></p>
                                            <figure class="figure">
                                                <img id="beforePic01" class="figure-img img-fluid " alt=""
                                                    style="border-radius: 0;">
                                                <figcaption class="figure-caption">Picture Before</figcaption>
                                            </figure>
                                        </td>
                                        <td>
                                            <div class='date'> </div>
                                            <p class="dateScheduled"></p>
                                            <figure class="figure">
                                                <img id="afterPic01" class="figure-img img-fluid " src="" alt=""
                                                    style="border-radius: 0;">
                                                <figcaption class="figure-caption">Picture After</figcaption>
                                            </figure>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class='date'> </div>
                                            <p class="dateScheduled"></p>
                                            <figure class="figure">
                                                <img id="beforePic02" class="figure-img img-fluid " alt=""
                                                    style="border-radius: 0;">
                                                <figcaption class="figure-caption">Picture Before</figcaption>
                                            </figure>
                                        </td>
                                        <td>
                                            <div class='date'> </div>
                                            <p class="dateScheduled"></p>
                                            <figure class="figure">
                                                <img id="afterPic02" class="figure-img img-fluid " src="" alt=""
                                                    style="border-radius: 0;">
                                                <figcaption class="figure-caption">Picture After</figcaption>
                                            </figure>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class='date'> </div>
                                            <p class="dateScheduled"></p>
                                            <figure class="figure">
                                                <img id="beforePic03" class="figure-img img-fluid " alt=""
                                                    style="border-radius: 0;">
                                                <figcaption class="figure-caption">Picture Before</figcaption>
                                            </figure>
                                        </td>
                                        <td>
                                            <div class='date'> </div>
                                            <p class="dateScheduled"></p>
                                            <figure class="figure">
                                                <img id="afterPic03" class="figure-img img-fluid " src="" alt=""
                                                    style="border-radius: 0;">
                                                <figcaption class="figure-caption">Picture After</figcaption>
                                            </figure>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class='date'> </div>
                                            <p class="dateScheduled"></p>
                                            <figure class="figure">
                                                <img id="beforePic04" class="figure-img img-fluid " alt=""
                                                    style="border-radius: 0;">
                                                <figcaption class="figure-caption">Picture Before</figcaption>
                                            </figure>
                                        </td>
                                        <td>
                                            <div class='date'> </div>
                                            <p class="dateScheduled"></p>
                                            <figure class="figure">
                                                <img id="afterPic04" class="figure-img img-fluid " src="" alt=""
                                                    style="border-radius: 0;">
                                                <figcaption class="figure-caption">Picture After</figcaption>
                                            </figure>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class='date'> </div>
                                            <p class="dateScheduled"></p>
                                            <figure class="figure">
                                                <img id="beforePic05" class="figure-img img-fluid " alt=""
                                                    style="border-radius: 0;">
                                                <figcaption class="figure-caption">Picture Before</figcaption>
                                            </figure>
                                        </td>
                                        <td>
                                            <div class='date'> </div>
                                            <p class="dateScheduled"></p>
                                            <figure class="figure">
                                                <img id="afterPic05" class="figure-img img-fluid " src="" alt=""
                                                    style="border-radius: 0;">
                                                <figcaption class="figure-caption">Picture After</figcaption>
                                            </figure>
                                        </td>
                                    </tr>


                                </tbody>
                            </table> -->
                        </li>


                    </ul>

                    <div id="mypanel">
                        <figure class="figure">
                            <img id="beforePic01" class="figure-img img-fluid " alt="" style="border-radius: 0;">
                            <figcaption class="figure-caption">Picture Before</figcaption>
                        </figure>
                    </div>





                </div>
            </div>


        </div>
        <div class="card-footer text-center">
            <button type="button" class="btn btn-primary btn-icon-text ls-2" id="btn-submit"
                onclick="javascript:history.go(-1)">
                <i class="fas fa-arrow-left"></i>
                Kembali
            </button>
        </div>
    </div>


</div>

@section Scripts {


<script type="text/javascript" language="JavaScript">

    var list = new Array;

    var poWorkplanId = getUrlVars()["id"];
    console.log("poWorkplanId: " + poWorkplanId);

    getPictures();

    function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
            vars[key] = value;
        });
        return vars;
    }
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [day, month, year].join('.');
    }

    function getPictures() {

        const proxyurl = "https://cors-anywhere.herokuapp.com/";
        const url = "https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/POInfoPhotoSummaryByWorkplanID/" + poWorkplanId;
        const myurl = url;

        const imageUrl = "https://firebasestorage.googleapis.com/v0/b/tnb-cma-app-dev.appspot.com/o/gambarkerja";
        const defaultUrl = "~/images/add_image.png";

        fetch(myurl, {

            cache: "no-cache",
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },

        })
            .then(response => response.json())
            .then(function (data) {
                console.log(data);

                var dateFormat = '';
                var formatedDate = '';
                //alert(dateFormat);

                // store result in array 
                var list = new Array;              
                list.length = 0;               
                $.each(data, function (key, val) { list.push(val);  });            

                //group data by date
                const groupBy = (array, key) => {
                    return array.reduce((result, currentValue) => {
                        (result[currentValue[key]] = result[currentValue[key]] || []).push(currentValue);
                        return result;
                    }, {});
                };

                // get the image name 
                var myarray = new Array;
                var items = [];
                myarray = groupBy(list, 'dateScheduled');
                //console.log('myarray = ', myarray);  
               
                $.each(myarray, function (dateScheduled, val) {
                    //console.log ("dateScheduled= ", dateScheduled); 
                    $.each(val, function (key, innerArrayValue) {

                         if (innerArrayValue.id != undefined) {
                               
                         items.push("<li  class='list-group-item' id='" + key + "'>" + 
                              "<p>" + formatDate(innerArrayValue.dateScheduled) +"</p>"+
                            innerArrayValue.photoBefore01 +
                             "</li>");
                         }
                           
                        

                });
                
                });
                 $("<ul/>", {
                    "class": " list-group my-new-list",
                    html: items.join("")
                }).appendTo("#mypanel");
                

               
            
                });

                // const array1 = [
                //     { "month": "January", "location": "CENTRAL", "percentage": 94 },
                //     { "month": "February", "location": "CENTRAL", "percentage": 97 },
                //     { "month": "March", "location": "CENTRAL", "percentage": 93 },
                //     { "month": "January", "location": "NORTH", "percentage": 95 },
                //     { "month": "February", "location": "NORTH", "percentage": 91 },
                //     { "month": "March", "location": "NORTH", "percentage": 98 }];

                // const map = new Map(array1.map(({ month }) => [month, { month }]));
                // array1.forEach(o => map.get(o.month)[o.location] = o.percentage);
                // const result = [...map.values()];

                // console.log(result);

                // $.each(result, function (key, val) {
                //     console.log(val.month);
                // });

                // ============ try =============


                // group by dateShedule 
                // const map = new Map(list.map(({ dateScheduled }) => [dateScheduled, { dateScheduled }]));
                // list.forEach(o => map.get(o.dateScheduled)["photoBefore01"]=o.photoBefore01);
                // list.forEach(o => map.get(o.dateScheduled)["photoAfter01"] = o.photoAfter01);
                // const result = [...map.values()];
                // console.log("result=", result);

             


                // to access each of the array value 
                // $.each(photoByDate, function (key, val) {
                //     // console.log(val);                    
                //      items.push("<li  class='list-group-item' id='" + key + "'>" + formatDate(val.dateScheduled) + 

                //         "</li>");  

                // });
                //  $("<ul/>", {
                //     "class": " list-group my-new-list",
                //     html: items.join("")
                // }).appendTo("#mypanel");

                // ============ end of this damn try.  =============




            })
            .catch(function (error) {
                // If there is any error you will catch them here
                console.log(error);
            });

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [day, month, year].join('.');
        }
    }


</script>

}