@page
@model cma_officer.Pages.SqeDetailModel
@{
ViewData["Title"] = "SqeDetail";
Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="alert alert-success p-3" role="alert" style="display: none ;" id="success_msg">
    <i class="fas fa-check-circle fa-lg mr-2"></i> Kemaskini Berjaya
</div>
<div class="alert alert-danger p-3" role="alert" style="display: none ;" id="error_msg">
    <i class="fas fa-check-circle fa-lg mr-2"></i> Ralat Kemaskini. Sila cuba sekali lagi.
</div>
<!-- --------- -->
<div class="alert alert-success p-3" role="alert" style="display: none ;" id="success_msg2">
    <i class="fas fa-check-circle fa-lg mr-2"></i> Senarai Pematuhan telah di kemaskini
</div>
<div class="alert alert-danger p-3" role="alert" style="display: none ;" id="error_msg2">
    <i class="fas fa-times-circle fa-lg mr-2"></i> Ralat Kemaskini Senarai Pematuhan, Sila cuba sekali lagi.
</div>

<div class="container">
    <div class="card">
        <img src="" alt="">
        <div class="card-body">
            <h5 class="card-title">
                Pematuhan SQE <span class="text-danger">(Staff TNB)</span>
            </h5>

            <div class="row">
                <div class="col-md-12">
                    <form class="forms-sample" id="myform">
                        <div class="form-group">
                            <label for="exampleInputUsername1">SB</label>
                            <input type="text" class="form-control col-md-2" id="sqe_sb" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">USB</label>
                            <input type="text" class="form-control col-md-2" id="sqe_usb" placeholder="">
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tahap Risiko</label>
                            <div class="col-sm-3">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="risiko" id="riskCategoryHigh"
                                            value="" checked="">
                                        Tinggi
                                        <i class="input-helper"></i></label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="risiko"
                                            id="riskCategoryMedium" value="option2">
                                        Sederhana
                                        <i class="input-helper"></i></label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="risiko" id="riskCategoryLow"
                                            value="option2">
                                        Rendah
                                        <i class="input-helper"></i></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Catatan</label>
                            <textarea class="form-control" id="sqe_catatan" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Bilangan Notis Larangan Kerja</label>
                            <textarea class="form-control" id="sqe_notis_larangan" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Notis Pembaikan</label>
                            <textarea class="form-control" id="sqe_pembaikan" rows="4"></textarea>
                        </div>
                    </form>

                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-danger  btn-icon-text ls-2" id="btn-submit">
                            <i class="fas fa-paper-plane"></i>
                            Hantar
                        </button>
                    </div>

                    <hr>
                    <div class="alert alert-info" role="alert">
                        Senarai Pematuhan
                    </div>


                    <div class="" id="mytable" style="visibility:hidden ; ">

                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button type="button" class="btn btn-primary btn-icon-text ls-2" id="btn-submit"
                onclick="javascript:history.go(-1)">
                <i class="fas fa-arrow-left"></i>
                Kembali
            </button>
        </div>
    </div>
</div>


@section Scripts {

<script type="text/javascript" language="JavaScript">

    $(document).ready(function () {

        var workscheduleid = localStorage.getItem("workscheduleid");
        alert(workscheduleid);
        const proxyurl = "https://cors-anywhere.herokuapp.com/";// site that doesn’t send Access-Control-*
        const url = "https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/PoinfoesWithWorkplanByWorkScheduledID/";
        const urlSqeList = "https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/SQELists/";
        const urlSqeSave = "https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/SQELists";
        const urlPut = "https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/SQELists";

        var RiskCategoryHigh, RiskCategoryMedium, RiskCategoryLow, SqecomplianceSb, SqecomplianceUsb, Sqenotes,
            SqenotisLaranganKerjaNumber, SqenotisPembaikan = "";
        var SqelastUpdatedByUserId = "";


        // gett all section loaded with data::

        getFormData(workscheduleid);
        getDataSqeList();

        $("#btn-submit").click(function () {
            UpdateData();

        });


        function getFormData(workscheduleid) {

            
            const myurl = 'https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/PoinfoesWithWorkplanByWorkScheduledID/';
            fetch(myurl + workscheduleid, {
                cache: "no-cache",
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },

            })
                .then(response => response.json())
                .then(function (data) {
                    console.log("getData:");
                    console.log(data);


                    if (data.sqelastUpdatedByUserId == null) {
                        SqelastUpdatedByUserId = "";
                    } else {
                        SqelastUpdatedByUserId = data.sqelastUpdatedByUserId;
                    }

                    localStorage.setItem("SqelastUpdatedByUserId_local", data.sqelastUpdatedByUserId );
                    console.log("SqelastUpdatedByUserId_local :" + localStorage.getItem("SqelastUpdatedByUserId_local"));

                    $.each(data, function (key, val) {
                        $("#sqe_sb").val(val.sqecomplianceSb !=null? );
                        $("#sqe_usb").val(val.sqecomplianceUsb);
                        $("#sqe_catatan").val(val.sqenotes);
                        $("#sqe_notis_larangan").val(val.sqenotisLaranganKerjaNumber);
                        $("#sqe_pembaikan").val(val.sqenotisPembaikan6);

                        val.riskCategoryHigh == null ? $("#riskCategoryHigh").prop("checked", false) : $("#riskCategoryHigh").prop("checked", true);
                        val.riskCategoryMedium == null ? $("#riskCategoryMedium").prop("checked", false) : $("#riskCategoryMedium").prop("checked", true);
                        val.riskCategoryLow == null ? $("#riskCategoryLow").prop("checked", false) : $("#riskCategoryLow").prop("checked", true);

                    });

                })
                .catch(function (error) {
                    // If there is any error you will catch them here
                    console.log(error);
                });
        }

        function getDataSqeList() {
            const myurl = urlSqeList;
            var list = new Array;

            fetch(myurl + workscheduleid, {
                //mode: 'no-cors', // 'cors' by default
                cache: "no-cache",
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },

            })
                .then(response => response.json())
                .then(function (data) {
                    console.log("Sqe List:");
                    console.log(data);
                    var x = document.getElementById("mytable");
                    x.style.visibility = "visible";


                    var items = [];
                    list.length = 0;

                    list.push(items);
                    $("#tableRow").remove();
                    $.each(data, function (key, val) {

                        list.push("<tr>");
                        list.push("<td class='font-weight-bold' id='" + key + "'> " + val.numbering + "</td>");
                        list.push("<td id='" + key + "'>" + "<div class='col-sm-12 p-0 m-0'><pre style='word-wrap: break-word; white-space: pre-wrap; line-height:20px'>" + (val.description).replace(/\r\n/, "<br>") + "</pre></div>" + "</td>");
                        list.push("<td width='10%' id='" + key + "'>" +

                            "<fieldset class='form-group'>" +
                            "<div class='form-check'> <input class='form-check-input ml-0 pl-0 sb' type='radio' name='" + val.id + "' id='" + val.id + "'  value='sb'" + (val.safeBehaviour == true ? "checked" : "") + " > <label class='form-check-label ml-3' for='" + val.id + "'> SB</label></div>" +
                            "<div class='form-check'> <input class='form-check-input ml-0 pl-0 sb' type='radio' name='" + val.id + "' id='" + val.id + "'  value='usb'" + (val.unsafeBehaviour == true ? "checked" : "") + "> <label class='form-check-label ml-3' for='" + val.id + "'>USB </label> </div>" +
                            "<div class='form-check'> <input class='form-check-input ml-0 pl-0 sb' type='radio' name='" + val.id + "' id='" + val.id + "' value='na'" + (val.notApplicable == true ? "checked" : "") + "> <label class='form-check-label ml-3' for='" + val.id + "'> N/A</label></div>" +
                            "</fieldset>");
                        list.push("</tr>");


                    });

                    $("<table/>", {
                        "class": "table table-hover table-sm ",
                        "id": "tableRow",
                        html: list.join('')
                    }).appendTo("#mytable");

                    var newValue = ""; // vale of checked radio button
                    var oldValue = ""; // value of unchecked radio button
                    var id = "";

                    $('.sb').change(function () {
                        oldValue = newValue;
                        newValue = $(this).val();
                        id = $(this).attr('id');
                        // alert(newValue);
                        PutData(newValue, id);
                    });


                })
                .catch(function (error) {
                    // If there is any error you will catch them here
                    console.log(error);
                });
        }

        function UpdateData() {

            alert(workscheduleid);

            // RiskCategoryHigh = $('#riskCategoryHigh').is(':checked') ? true : false;
            // RiskCategoryMedium = $('#riskCategoryMedium').is(':checked') ? true : false;
            // RiskCategoryLow = $('#riskCategoryLow').is(':checked') ? true : false;

            SqecomplianceSb = $('#sqe_sb').val();
            SqecomplianceUsb = $('#sqe_usb').val();
            Sqenotes = $('#sqe_catatan').val();
            SqenotisLaranganKerjaNumber = $('#sqe_notis_larangan').val();
            SqenotisPembaikan = $('#sqe_pembaikan').val();

            const proxyurl = "https://cors-anywhere.herokuapp.com/";// site that doesn’t send Access-Control-*
            const urlSqeSave = "https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/SQELists/";

            const myurl = urlSqeSave;
            var list = new Array;
            fetch(myurl, {

                //cache: "no-cache",
                method: 'POST',
                headers: {  
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    "Id": workscheduleid,
                    "SqecomplianceSb": SqecomplianceSb,
                    "SqecomplianceUsb": SqecomplianceUsb,
                    "Sqenotes": Sqenotes,
                    "SqenotisLaranganKerjaNumber": SqenotisLaranganKerjaNumber,
                    "SqenotisPembaikan": SqenotisPembaikan,
                    "SqelastUpdatedByUserId": "" //--> testing       
                }),

            })
                .then(function (data) {

                    if (data.status == "200") {
                        $("#success_msg").fadeIn(300).delay(1500).fadeOut(400);
                        getFormData(workscheduleid);
                    } else {
                        $("#error_msg").fadeIn(300).delay(1500).fadeOut(400);
                        console.log(data.status);
                    }

                })
                .catch(function (error) {
                    // If there is any error you will catch them here
                    console.log(error);
                });

        }

        function PutData(checkedValue, id) {

            console.log(checkedValue + "--id: " + id);

            var SafeBehaviour, UnsafeBehaviour, NotApplicable = "";
            switch (checkedValue) {
                case "sb":
                    SafeBehaviour = "true";
                    UnsafeBehaviour = "false";
                    NotApplicable = "false";
                    break;
                case "usb":
                    SafeBehaviour = "false";
                    UnsafeBehaviour = "true";
                    NotApplicable = "false";
                    break;
                default:
                    SafeBehaviour = "false";
                    UnsafeBehaviour = "false";
                    NotApplicable = "true";
                // code block
            }

          //S  console.log("sb:" + SafeBehaviour + "-- usb:" + UnsafeBehaviour + "--na:" + NotApplicable)


            const myurl = urlSqeSave;
            var list = new Array;
            fetch(myurl, {

                cache: "no-cache",
                method: 'PUT',
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    "Id": id,
                    "WorkScheduledId": workscheduleid,
                    "SafeBehaviour": SafeBehaviour,
                    "UnsafeBehaviour": UnsafeBehaviour,
                    "NotApplicable": NotApplicable,
                    "SqelastUpdatedByUserId": localStorage.getItem("SqelastUpdatedByUserId_local"), //---> this line causing an error
                }),

            })

                .then(function (data) {

                    if (data.status == "200") {
                        $("#success_msg2").fadeIn(300).delay(1500).fadeOut(400)
                        // ("#tableRow").html(data.html);
                        console.log(data);
                        getDataSqeList();
                    } else {
                        $("#error_msg2").fadeIn(300).delay(1500).fadeOut(400);
                        console.log(data.status);
                    }


                })
                .catch(function (error) {
                    // If there is any error you will catch them here
                    console.log(error);
                });

        }




    });

</script>
}