.modal-icon{
	div {
	text-align   : center;
	float        : left;
	width        : 36px;
	height       : 36px;
	border       : 1px solid #909090;
	border-radius: 100%;
	margin-right : 7px;
	}
	/*space between*/

	i {
	font-size  : 20px;
	line-height: 38px;
	color      : #909090;
	}



	



	
}



