﻿@page
@model ConfirmEmailModel
@{
ViewData["Title"] = "Confirm email";
Layout = "~/Pages/Shared/_Layout_logout.cshtml";

}



<div class="alert alert-success" role="alert">
    Email Confirmed.
</div>
<div class="form-group text-center">
<a class="btn  btn-md btn-behance ls-2" asp-area="Identity" asp-page="/Account/Login">
    Log In Now
</a>
</div>