﻿@page
@model LogoutModel
@{
ViewData["Title"] = "Log out";
Layout = "~/Pages/Shared/_Layout_logout.cshtml";
}

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center ">
                <p class="red-800 mb-4">You have successfully logged out of the application.</p>


              
                    <a class="btn btn-outline-github" asp-area="Identity" asp-page="/Account/Login">
                        Login Back
                        <i class="fas fa-arrow-right"></i>
                    </a>
               
            </div>
        </div>
    </div>




</header>