/*
*
* ==========================================
* GENERAL STYLE
* ==========================================
*
*/
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg-login {
    background-image   : url("../images/bg.jpg");
    height             : 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    background         : #333333;
}

.btn {
    padding: 0.5rem 1.5rem;
}

.ls-1 {
    letter-spacing: 1px;
}

.ls-2 {
    letter-spacing: 2px;
}


.login-wrapper {
    /* The image used */
    background-image   : url("../images/bg0-3.jpg");
    /* Full height */
    height             : 100%;
    /* Center and scale the image nicely */
    background-position: top;
    background-repeat  : no-repeat;
    background-size    : cover;

}


.auth .brand-logo img {
    width: 80px;
}

.lucida-font {
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
}

.auth .auth-form-light {
    background         : #fff;
    /* background-color: rgba(255, 255, 255, .9); */
    /* backdrop-filter : blur(8px); */

}

.table td img {
    width        : 35% !important;
    height       : auto !important;
    border-radius: 0 !important;
    object-fit   : fill;
}

.text-decoration-none {
    text-decoration: none
}


/*
*
* ==========================================
* CARD ADDITIONAL STYLE
* ==========================================
*
*/
.card-box {
    position: relative;
    color   : #fff;
    padding : 20px 10px 30px;
    margin  : 20px 0px;
    overflow: hidden;
}

.card-box:hover {
    text-decoration: none;
    color          : #f1f1f1;
}

.card-box:hover .icon i {
    font-size         : 135px;
    transition        : .3s;
    -webkit-transition: .3s;
}

.card-box .inner {
    padding: 5px 10px 0 10px;
}

.card-box h3 {
    font-size  : 27px;
    font-weight: bold;
    margin     : 0 0 8px 0;
    white-space: nowrap;
    padding    : 0;
    text-align : left;
}

.card-box p {
    font-size: 15px;
}

.card-box .icon {
    position : absolute;
    top      : auto;
    bottom   : 10px;
    right    : 5px;
    z-index  : 0;
    font-size: 7rem;
    color    : rgba(0, 0, 0, 0.1);
    transform: rotate(20deg);
}

.card-box .card-box-footer {
    position       : absolute;
    left           : 0px;
    bottom         : 0px;
    text-align     : center;
    padding        : 3px 0;
    color          : rgba(255, 255, 255, 0.8);
    background     : rgba(0, 0, 0, 0.03);
    width          : 100%;
    text-decoration: none;
}

.card-box:hover .card-box-footer {
    background: rgba(0, 0, 0, 0.3);
}

/*
*
* ==========================================
* ADDITIONAL COLORS STYLE
* ==========================================
*
*/

.blue-900 {
    color: #1565c0 !important;
}

.red-800 {
    color: #c62828 !important;
}

.green-800 {
    color: #00796B !important;
}



/*
*
* ==========================================
* STAR RATING
* ==========================================
*
*/
.rating {
    float: left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
      follow these rules. Every browser that supports :checked also supports :not(), so
      it doesn’t make the test unnecessarily selective */
.rating:not(:checked)>input {
    position  : absolute;
    top       : -9999px;
    left      : -9999px;
    visibility: hidden;
    clip      : rect(0, 0, 0, 0);

    /* note: this type of setup will  make your page jump to  top when u clik radio button */
    /* position: absolute;
    top        : -9999px;
    clip       : rect(0, 0, 0, 0); 
    ----------------------------------------------------------------------------------------*/

}

.rating:not(:checked)>label {
    float         : right;
    width         : 1em;
    /* padding    :0 .1em; */
    overflow      : hidden;
    white-space   : nowrap;
    cursor        : pointer;
    font-size     : 300%;
    /* line-height:1.2; */
    color         : #ddd;
}

.rating:not(:checked)>label:before {
    content: '★ ';
}

.rating>input:checked~label {
    color      : #FBC02D;
    text-shadow: 0 0 5px #FBC02D;

}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color      : #FBC02D;
    text-shadow: 0 0 5px #FBC02D;

}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
    color: #FBC02D;

}

.rating>label:active {
    position: relative;
    top     : 2px;
    left    : 2px;
}

/*
*
* ==========================================
* loading style
* ==========================================
*
*/

.dialog-loading-wrapper {
    background : none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border     : 0 none;
    height     : 100px;
    left       : 50%;
    margin-left: -50px;
    margin-top : -50px;
    position   : fixed;
    top        : 50%;
    width      : 100px;
    z-index    : 9999999;
}

.dialog-background-inner {
    height  : 100%;
    left    : 0255;
    margin  : 0;
    padding : 0;
    position: absolute;
    top     : 0;
    width   : 100%;
    z-index : 100;
}

.dialog-background {
    position        : fixed;
    top             : 0;
    left            : 0;
    height          : 100%;
    width           : 100%;
    background-color: rgba(0 0 0 / 17%);
    z-index         : 10;
}

.blur {
    -webkit-filter: blur(1px);
    -moz-filter   : blur(1px);
    -ms-filter    : blur(1px);
    filter        : blur(1px);
    filter        : progid: DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);
}