﻿@page
@model cma_officer.Pages.BlockerReportModel
@{
ViewData["Title"] = "BlockerReport";
Layout = "~/Pages/Shared/_Layout.cshtml";
ViewData["Active"] = "blocker";
}

<div class="alert alert-success p-3" role="alert" style="display: none ;" id="success_msg2">
    <i class="fas fa-check-circle fa-lg mr-2"></i> Status Blocker telah di kemaskini
</div>
<div class="alert alert-danger p-3" role="alert" style="display: none ;" id="error_msg2">
    <i class="fas fa-times-circle fa-lg mr-2"></i> Ralat Kemaskini status Blocker , Sila cuba sekali lagi.
</div>



<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title text-dark"> <i class="fas fa-search"></i> Carian Blocker Report</h1>
            <form action="" method="post" id="BookPackageForm">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Po Nombor</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="poNum" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Bulan</label>
                            <div class="col-sm-9">
                                <select class="custom-select custom-select-md mb-3" id="month">
                                    <option selected class="text-primary">Pilih Bulan</option>
                                    <option value="1" class="p-2">Januari</option>
                                    <option value="2">Februari</option>
                                    <option value="3">Mac</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">Jun</option>
                                    <option value="7">Julai</option>
                                    <option value="8">Ogos</option>
                                    <option value="9">September</option>
                                    <option value="10">Oktober</option>
                                    <option value="11">November</option>
                                    <option value="12">Disember</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tahun</label>
                            <div class="col-sm-9">
                                <input type="text" class="yearpicker form-control" value="" id="year" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <button id="searchBtn" class="btn btn-danger btn-block btn-lg" type="button"><i
                                        class="fas fa-search mr-2"></i>CARI REPORT</button>
                            </div>
                        </div>
                    </div>

                </div>


            </form>
        </div>
    </div>
</div>
<div class="col-lg-12 grid-margin stretch-card">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hasil Carian Blocker Report</h4>

            <table class="table table-hover table-md text-left table-responsive-md" id="mytable"
                style="visibility:hidden ">
                <thead class="table-dark">
                    <tr>
                        <th width="15%">Blocker</th>
                        <th width="10%">Report Date</th>
                        <th width="15%">Nama Pekerja</th>
                        <th width="15%">contractorName</th>
                        <th width="15%">Lokasi</th>
                        <th width="5%">Solved</th>

                    </tr>
                </thead>
                <tbody>
                </tbody>

            </table>

        </div>
    </div>
</div>




@section Scripts {

<script type="text/javascript" language="JavaScript">

    $(document).ready(function () {
        const proxyurl = "https://cors-anywhere.herokuapp.com/";

        $(".yearpicker").yearpicker({
            year: 2020,
            startYear: null,
            endYear: 2030,
        });

        $("#datepicker").datepicker({
            format: "mm-yyyy" //  yyyy-mm
        });

        function myAlertBottom() {
            $(".myAlert-bottom").show();
            setTimeout(function () {
                $(".myAlert-bottom").hide();
            }, 2000);
        }


        var list = new Array;



        function getData() {


            const url = "https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/OfficerSearchBlockerReport"; // site that doesn’t send Access-Control-*
            const myurl = url;

            var poNum, year, month = "";
            poNum = document.getElementById('poNum').value;
            year = document.getElementById('year').value;
            month = document.getElementById('month').value;
            console.log(poNum + "---" + year + "--" + month);


            $("#loading").show();
            $('main').addClass('blur');


            fetch(myurl, {
                //mode: 'no-cors', // 'cors' by default
                cache: "no-cache",
                method: 'post',
                headers: {
                    "Access-Control-Allow-Origin": "*", // Required for CORS support to work
                    "Access-Control-Allow-Credentials": true, // Required for cookies, authorization headers with HTTPS 
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({

                    "Ponumber": poNum,
                    "BlockerMonthString": month,
                    "BlockerYearString": year
                }),
            })
                .then(response => response.json())
                .then(function (data) {
                    $("#loading").hide();
                    $('main').removeClass('blur');
                    console.log(data);
                    data.sort(function (a, b) {
                        return new Date(b.workProgressDateCreated) - new Date(a.workProgressDateCreated);
                    })

                    var x = document.getElementById("mytable");
                    x.style.visibility = "visible";

                    var items = [];
                    list.length = 0;
                    list.push(items);
                    $("#tableRow").remove();
                    $.each(data, function (key, val) {
                        list.push("<tr>");
                        list.push('<td  class="" id=" + key + ">' + val.blockerNotes + '</td>');
                        list.push('<td  class="" id=" + key + ">' + formatDate(val.blockerDateCreated) + '</td>');
                        list.push('<td  class="" id=" + key + ">' + val.displayName + '</td>');
                        list.push('<td  class="" id=" + key + ">' + val.contractorName + '</td>');
                        list.push('<td  class="" id=" + key + ">' + val.workScheduledLocation + '</td>');
                        list.push('<td  class="" id=" + key + ">' + "<div class='form-check'> <input class='form-check-input ml-0 pl-0 solved' type='checkbox' name='" + val.blockerId +
                            "' id='" + val.blockerId + "'  value='" + val.solved + "'" + (val.solved == true ? "checked" : "") + " > <label class='form-check-label ml-3' for='" + val.blockerId + "'> </label></div>" + '</td>');

                        list.push('</tr>');


                    });

                    $("<tbody/>", {
                        "class": "",
                        "id": "tableRow",
                        html: list.join("")
                    }).appendTo("#mytable");

                    var newValue = ""; // vale of checked checkbox button
                    var oldValue = ""; // value of unchecked checkbox button
                    var id = "";


                    $('.solved').change(function () {
                        oldValue = newValue;
                        newValue = $(this).val();
                        id = $(this).attr('id');
                        UpdateBlockerStatus(id)


                    });

                })
                .catch(function (error) {
                    // If there is any error you will catch them here
                    console.log(error);
                });
        }



        const searchBtn = document.getElementById('searchBtn')
        searchBtn.addEventListener("click", function () {
            getData();
        });


        // update solved status 
        function UpdateBlockerStatus(blockerId) {
            const url = "https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/blockers";

            var list = new Array;
            $("#loading").show();
            $('main').addClass('blur');
            fetch(url, {

                cache: "no-cache",
                method: 'PUT',
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    "ID": blockerId
                }),

            })


                .then(function (data) {
                    $("#loading").hide();
                    $('main').removeClass('blur');

                    if (data.status == "200") {
                        $("#success_msg2").fadeIn(300).delay(1500).fadeOut(400)

                        // ("#tableRow").html(data.html);
                        console.log(data);

                    } else {
                        $("#error_msg2").fadeIn(300).delay(1500).fadeOut(400);
                        console.log(data.status);
                    }


                })
                .catch(function (error) {
                    // If there is any error you will catch them here
                    console.log(error);
                });

        }







    });
</script>
}