﻿@page
@model cma_officer.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="font-weight-bold mb-0">Hello, Officer</h4>
                    </div>
                    <div>
                        <i class="fas fa-user    text-primary "></i>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card card-box">
                    <a asp-area="" asp-page="/SqeSearch" class="text-decoration-none">
                    <div class="card-body">
                        <div class="text-md-center text-xl-left blue-900 ls-2">Assessment</div>
                        <div class="h3 blue-900 mt-2">SQE</div>

                    </div>
                    <div class="icon">
                        <i class="fas fa-file-import "></i>
                    </div>
                    </a>

                    <a asp-area="" asp-page="/SqeSearch" class="card-box-footer text-black-50 ls-1">
                        <small>Review & Acknowledge submitted CSQA Assessment</small>
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-6 grid-margin stretch-card">
                <div class="card card-box">
                    <a asp-area="" asp-page="/ProgressReport" class="text-decoration-none">
                    <div class="card-body">
                        <div class="text-md-center text-xl-left green-800 ls-2"> View</div>
                        <div class="h3 green-800 mt-2">PROGRESS <small> REPORT</small></div>

                    </div>
                    <div class="icon">
                        <i class="fas fa-tools"></i>
                    </div></a>
                    <a asp-area="" asp-page="/ProgressReport" class="card-box-footer text-black-50 ls-1">
                        <small>Search & view latest PO progress report </small>
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card card-box">
                    <a asp-area="" asp-page="/BlockerReport" class="text-decoration-none">
                    <div class="card-body">
                        <div class="text-md-center text-xl-left red-800 ls-2"> View  </div>
                        <div class="h3 text-black mt-2 red-800">Blocker <small>REPORT</small></div>

                    </div>
                    <div class="icon">
                        <i class="fas fa-exclamation-triangle "></i>
                    </div>
                    </a>
                    <a asp-area="" asp-page="/BlockerReport" class="card-box-footer text-black-50 ls-1">
                        <small>Search & view latest Blocker reported </small>
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-6 grid-margin stretch-card">
                <div class="card card-box">
                    <a asp-area="" asp-page="/PoEvaluation" class="text-decoration-none">
                    <div class="card-body">
                        <div class="text-md-center text-xl-left blue-900 ls-2"> View PO/ Work </div>
                        <div class="h3 blue-900">Evaluation</div>

                    </div>
                    <div class="icon">
                        <i class="fas fa-tasks    "></i>
                    </div>
                    </a>
                    <a asp-area="" asp-page="/PoEvaluation" class="card-box-footer text-black-50 ls-1">
                        <small>Review & evaluate complete work submission </small>
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>