﻿@page
@model cma_officer.Pages.IndexModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Pages/Shared/_Layout_notLogin.cshtml";
}

    <div class="container mt-5 text-center">
        <div class="row">
            <div class="col-md-12 grid-margin">
               
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <a class="btn btn-block btn-lg btn-linkedin ls-1 " asp-area="Identity" asp-page="/Account/Login"> 
                            LOGIN
                            </a>
                        </div>

                    
                        <div class="col-md-6 col-sm-12">
                            <a class="btn btn-block btn-lg btn- ls-1 btn-twitter" asp-area="Identity" asp-page="/Account/Register"> 
                            REGISTER</a>
                        </div>

                      
                    </div>



                
            </div>
            <div class="col-md-12 mb-0 pb-0 text-right text-secondary">
            v1.0.2
            </div>
        </div>
       

    </div>