﻿@page
@model cma_officer.Pages.NotLoginModel
@{
    ViewData["Title"] = "NotLogin";
    Layout = "~/Pages/Shared/_Layout_notLogin.cshtml";
}

<div class="container mt-5 text-center">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h4 class="font-weight-bold mb-0">You are not Login . Please login to use the app.</h4>
                </div>

            </div>
        </div>
    </div>


</div>