﻿@page
@model cma_officer.Pages.PoEvaluationDetailModel
@{
ViewData["Title"] = "PoEvaluationDetail";
Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="alert alert-success p-3" role="alert" style="display: none ;" id="success_msg">
    <i class="fas fa-check-circle fa-lg mr-2"></i> Workplan Verified
</div>
<div class="alert alert-danger p-3" role="alert" style="display: none ;" id="error_msg">
    <i class="fas fa-check-circle fa-lg mr-2"></i> Ops! there is a problem to verify this workplan. Please try again or contact your system admin. 
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Po Number

                        <mark class="bg-success text-white ml-2 pl-2 pr-2" id="ponumber"> </mark>
                    </h3>
                    <span class="card-title" id="description"></span> <br>
                    <span class="card-title" id="podate"></span>
                    <input type="hidden" name="" value="" id="verifierUserId">


                    <div class="table-responsive mt-2">
                        <table class="table table-hover table-condense table-md">

                            <tbody>
                                <tr>
                                    <td width="auto">Contractor Name</td>
                                    <td width="3px">:</td>
                                    <td class="text-left" id="contractorName"></td>
                                </tr>
                                <tr>
                                    <td width="10%">Contractor Number</td>
                                    <td width="3px">:</td>
                                    <td class="text-left" id="contractorNumber"> </td>
                                </tr>
                                <tr>
                                    <td width="10%">Scope</td>
                                    <td width="3px">:</td>
                                    <td class="text-left" id="scope"></td>
                                </tr>
                                <tr>
                                    <td width="10%">Actual Date Completion </td>
                                    <td width="3px">:</td>
                                    <td class="text-left ls-1" id="actualDateCompletion"></td>
                                </tr>
                                <tr>
                                    <td width="10%">Delivery Date </td>
                                    <td width="3px">:</td>
                                    <td class="text-left ls-1" id="deliveryDate"></td>
                                </tr>
                                <tr>
                                    <td width="10%">Plan Start Date </td>
                                    <td width="3px">:</td>
                                    <td class="text-left ls-1" id="planDateStart"></td>
                                </tr>
                                <tr>
                                    <td width="10%">Plan End Date </td>
                                    <td width="3px">:</td>
                                    <td class="text-left ls-1" id="planDateEnd"></td>
                                </tr>
                                <tr>
                                    <td width="10%">Plan Remarks </td>
                                    <td width="3px">:</td>
                                    <td class="text-left" id="planRemarks"></td>
                                </tr>
                                <tr>
                                    <td width="10%">PO Workplan Created</td>
                                    <td width="3px">:</td>
                                    <td class="text-left ls-1" id="poWorkplanDateCreated"></td>
                                </tr>
                                <tr>
                                    <td width="10%">PO Workplan Submitted</td>
                                    <td width="3px">:</td>
                                    <td class="text-left ls-1" id="poWorkplanDateSubmitted"></td>
                                </tr>
                                <tr>
                                    <td width="10%">Ship To Address</td>
                                    <td width="3px">:</td>
                                    <td class="text-left" id="shipToAddress"></td>
                                </tr>

                                <tr>
                                    <td width="10%">PO Value</td>
                                    <td width="3px">:</td>
                                    <td class="text-left" id="povalue"> </td>
                                </tr>
                                <tr>
                                    <td width="10%">Laporan Akhir Kerja</td>
                                    <td width="3px">:</td>
                                    <td class="text-left" id="completionRemarks"></td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                </tr>
                            </tbody>
                        </table>


                        <div class="container ">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-outline-primary btn-fw col-md-3 col-sm-12" id="seeProgress" data-id="" >Lihat
                                        Progress <i class="fas fa-chart-bar ml-2 "></i></button>

                                    <button type="button" class="btn btn-outline-dark btn-fw col-md-3 col-sm-12" id="seePicture">Lihat
                                        Gambar
                                        <i class="fas fa-camera ml-2"></i></button>
                                </div>


                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <form method="get" action="">
                                        <div class="form-group">
                                            <label for="penilaianTnb">Penilaian Dari TNB</label>
                                            <textarea class="form-control" id="penilaianTnb" rows="3"></textarea>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>







                    </div>
                </div>
                <div class="card-footer text-center">


                    <button type="button" class="btn btn-primary btn-fw col-md-2 col-sm-6" id="btn-verify"> <i
                            class="fas fa-paper-plane mr-2"></i>Verify</button>

                    <button type="button" class="btn btn-outline-primary btn-fw col-md-2 col-sm-6"
                        onclick="location.href = 'PoEvaluation';"><i class="fas fa-arrow-left mr-2"></i>Kembali</button>

                </div>
            </div>
        </div>


    </div>


    @section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" language="JavaScript">


        $(document).ready(function () {
             const proxyurl = "https://cors-anywhere.herokuapp.com/";

            //1.get worksheduleid
           var id = getUrlVars()["id"];
            console.log(" id: " + id);


            GetAllSubmission();

            $("#seeProgress").click(function () {
              

                var currentid = id;  
                // alert(currentid) ;           
                if (id) {
                    window.location = '/PoEvaluationSeeProgress?id=' + currentid;
                }

            });

            $("#seePicture").click(function () {

                var currentid = id;
                //   alert(currentid) ;   
                if (id) {
                    window.location = '/PoEvaluationSeePicture?id=' + currentid;
                }

            });
            $("#btn-verify").click(function () {
                SendVerify();
            });


              function getUrlVars() {
                var vars = {};
                var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
                    vars[key] = value;
                });
                return vars;
            }

            function GetAllSubmission() {
               
                const url = "https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/PoinfoesWithWorkplanByWorkplanID/"+id;
                const myurl = url;
                var list = new Array;


                $("#loading").show();
                $('main').addClass('blur');
                fetch(myurl, {
                    //mode: 'no-cors', // 'cors' by default
                    cache: "no-cache",
                    method: 'GET',
                    headers: { 'Content-Type': 'application/json', },
                })
                    .then(response => response.json())
                    .then(function (data) {
                        console.log(data);
                        $("#loading").hide();
                        $('main').removeClass('blur');

                        var items = [];
                        list.length = 0;
                        list.push(items);
                        $("#tableRow").remove();
                        $.each(data, function (key, val) {
                           
                            $("mark#ponumber").html(val.ponumber);
                            $("span#description").html(val.description);
                            $("span#podate").html(formatDate(val.podate));
                            $("td#scope").html(val.scope);
                            $("td#actualDateCompletion").html(formatDate(val.actualDateCompletion));
                            $("td#contractorName").html(val.contractorName);
                            $("td#contractorNumber").html(val.contractorNumber);
                            $("td#actualDateCompletion").html(formatDate(val.actualDateCompletion));
                            $("td#deliveryDate").html(formatDate(val.deliveryDate));
                            $("td#planDateStart").html(formatDate(val.planDateStart));
                            $("td#planDateEnd").html(formatDate(val.planDateEnd));

                            $("td#planRemarks").html(val.planRemarks);
                            $("td#poWorkplanDateCreated").html(formatDate(val.poWorkplanDateCreated));
                            $("td#poWorkplanDateSubmitted").html(formatDate(val.poWorkplanDateSubmitted));
                            $("td#shipToAddress").html(val.shipToAddress);
                            $("td#povalue").html(val.povalue);
                            $("td#completionRemarks").html(val.completionRemarks);

                            $("#verifierUserId").val(val.verifierUserId);


                        });



                    })
                    .catch(function (error) {
                        // If there is any error you will catch them here
                        console.log(error);
                    });
            }

            function SendVerify() {
                var id = poWorkplanId;
                var IsVerifiedByTnb = true;
                var Tnbremarks = $("#penilaianTnb").val();
                var VerifierUserId = $("#verifierUserId").val();

                console.log(id);
                console.log(IsVerifiedByTnb);
                console.log(Tnbremarks);
                console.log(VerifierUserId);

                var url="https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/WorkplanCompleteSubmission";

                 fetch(url, {

                    cache: "no-cache",
                    method: 'PUT',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        "id": id,
                        "IsVerifiedByTnb": IsVerifiedByTnb,
                        "Tnbremarks": Tnbremarks,
                        "VerifierUserId": VerifierUserId,                     
                    }),

                })

                    .then(function (data) {

                        if (data.status == "200") {
                            $("#success_msg").fadeIn(300).delay(1500).fadeOut(400)                            
                            //console.log(data);                          
                        } else {
                            $("#error_msg").fadeIn(300).delay(1500).fadeOut(400);
                            console.log(data.status);
                        }


                    })
                    .catch(function (error) {
                        // If there is any error you will catch them here
                        console.log(error);
                    });




            }

        });

    </script>
    }