﻿@page
@model cma_officer.Pages.PoEvaluationSeeProgressModel
@{
ViewData["Title"] = "PoEvaluationSeeProgress";
Layout = "~/Pages/Shared/_Layout.cshtml";
}


    <div class="card">
        <img src="" alt="">
    <div class="card-body table-responsive">
        <h3 class="card-title text-primary"> <i class="fas fa-tasks text-primary fa-lg pr-3"></i> Progress Summary</h3>
        
        <table class="table table-hover  text-left " id="mytable">
            <thead class="table-success text-uppercase">
                <tr>                
                    <th width="10%">work Scheduled Date</th>
                    <th>Name</th>
                    <th>po number</th>
                    <th>Contractor Name</th>
                    <th>Notes</th>
                    <th>ToDo Notes</th>
                    <th>CheckIn</th>
                    <th>CheckOut</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        
        </table>


      
        
    <h3 class="card-title text-danger mt-5 pt-4"> <i class="fas fa-exclamation-triangle text-danger fa-lg pr-3"></i>  Blocker Summary</h3>
        <table class="table table-hover text-left" id="myBlockerTable">
            <thead class="table-danger text-uppercase ">
                <tr>
                    <th width="10%">Blocker Notes</th>
                    <th>Report Date</th>
                    <th>Nama Pekerja</th>
                    <th>Contractor Name</th>
                    <th>Lokasi </th>
                    <th>Solved</th>                  
                </tr>
            </thead>
            <tbody>
            </tbody>
        
        </table>



        </div>
        <div class="card-footer text-center">
            <button type="button" class="btn btn-primary btn-icon-text ls-2" id="btn-submit"
                onclick="javascript:history.go(-1)">
                <i class="fas fa-arrow-left"></i>
                Kembali
            </button>
        </div>
    </div>



@section Scripts {

<script type="text/javascript" language="JavaScript">


    $(document).ready(function () {

        var list = new Array;

        var poWorkplanId = getUrlVars()["id"];
        console.log("poWorkplanId: " + poWorkplanId);

        getProgressReport();
        getBlockerReport();




        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
                vars[key] = value;
            });
            return vars;
        }
        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [day, month, year].join('.');
        }

        function getProgressReport() {

            const proxyurl = "https://cors-anywhere.herokuapp.com/";
            const url = "https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/POInfoProgressSummaryByWorkplanID/" + poWorkplanId;
            const myurl = url;


            $("#loading").show();
            fetch(myurl, {
                //mode: 'no-cors', // 'cors' by default
                cache: "no-cache",
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(function (data) {             
                    $("#loading").hide();
                    $('main').removeClass('blur');
                    data.sort(function (a, b) {
                        return new Date(b.workProgressDateCreated) - new Date(a.workProgressDateCreated);
                    })
                    console.log(data);

                 

                    var items = [];
                    list.length = 0;
                    list.push(items);               
                    $.each(data, function (key, val) {
                        list.push("<tr>");                       
                        list.push('<td  class=" pt-2 pb-2 " id=" + key + ">' + formatDate(val.workScheduledDateScheduled) + '</td>');
                            list.push('<td  class=" pt-2 pb-2 " id=" + key + ">' + val.username + '</td>');
                        list.push('<td  class=" pt-2 pb-2 " id=" + key + ">' + val.ponumber + '</td>');
                        list.push('<td  class=" pt-2 pb-2 " id=" + key + ">' + val.contractorName + '</td>');
                        list.push('<td  class=" pt-2 pb-2 " id=" + key + ">' + val.workProgressNotes + '</td>');
                        list.push('<td  class=" pt-2 pb-2 " id=" + key + ">' + val.workScheduledToDoNotes + '</td>');
                        list.push('<td  class=" pt-2 pb-2 " id=" + key + ">' + formatDate(val.checkedInDatetime) + '</td>');
                        list.push('<td  class=" pt-2 pb-2 text-success" id=" + key + ">' + formatDate(val.checkedOutDatetime != null? val.checkedOutDatetime : "" )+ '</td>');
                     
                        list.push('</tr>');

                    });

                    $("<tbody/>", {
                        "class": "",
                        "id": "tableRow",
                        html: list.join("")
                    }).appendTo("#mytable");

                })
                .catch(function (error) {
                    // If there is any error you will catch them here
                    console.log(error);
                });

              
        }

        function getBlockerReport() {

            const proxyurl = "https://cors-anywhere.herokuapp.com/";
            const url = "https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/POInfoBlockerSummaryByWorkplanID/" + poWorkplanId;
            const myurl =  url;


               $("#loading").show();
            fetch(myurl, {
                //mode: 'no-cors', // 'cors' by default
                cache: "no-cache",
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(function (data) {
                    $("#loading").hide();
                    $('main').removeClass('blur');
                    data.sort(function (a, b) {
                        return new Date(b.workProgressDateCreated) - new Date(a.workProgressDateCreated);
                    })
                    console.log(data);



                    var items = [];
                    list.length = 0;
                    list.push(items);
                    $.each(data, function (key, val) {
                        list.push("<tr>");
                         list.push('<td  class=" pt-2 pb-2 " id=" + key + ">' + val.blockerNotes + '</td>');
                          list.push('<td  class=" pt-2 pb-2 " id=" + key + ">' + formatDate(val.blockerDateCreated) + '</td>');
                        list.push('<td  class=" pt-2 pb-2 " id=" + key + ">' + val.username + '</td>');
                        list.push('<td  class=" pt-2 pb-2 " id=" + key + ">' + val.contractorName + '</td>');                    
                        list.push('<td  class=" pt-2 pb-2 " id=" + key + ">' + val.shipToAddress + '</td>');
                        list.push('<td  class=" pt-2 pb-2 text-success" id=" + key + ">' + (val.solved == true? '<i class="fas fa-check"></i>' : "") + '</td>');                      
                        list.push('</tr>');

                    });

                    $("<tbody/>", {
                        "class": "",
                        "id": "tableRow",
                        html: list.join("")
                    }).appendTo("#myBlockerTable");

                })
                .catch(function (error) {
                    // If there is any error you will catch them here
                    console.log(error);
                });
        }












    });
</script>
}