﻿@page
@model cma_officer.Pages.PoEvaluationModel
@{
ViewData["Title"] = "PoEvaluation";
Layout = "~/Pages/Shared/_Layout.cshtml";
ViewData["Active"] = "evaluation";
}


<div class="card">
    <div class="card-body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"><i
                        class="fas fa-download text-primary"></i> Submitted PO/ Workplan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"> <i
                        class="fas fa-clipboard-check text-success"></i> Verified PO/Workplan</a>
            </li>
        </ul><!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                <div class="col-lg-12 grid-margin stretch-card">

                    <div class="card-body table-responsive">
                        <h4 class="card-title">Complete work Submission</h4>
                        </p>

                        <table class="table table-hover table-md text-left" id="mytable" style="visibility:hidden ">
                            <thead class="table-info">
                                <tr role="row">
                                    <th role="columnheader">PO Number</th>
                                    <th role="columnheader">Description</th>
                                    <th role="columnheader">Scope</th>
                                    <th role="columnheader">Contractor Number</th>
                                    <th role="columnheader">Contractor Name</th>
                                    <th role="columnheader">Delivery Date</th>
                                    <th role="columnheader">Ship To Address</th>
                                    <th role="columnheader">Action</th>
                                </tr>
                            </thead>
                            <tbody role="rowgroup">

                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div class="col-lg-12 grid-margin stretch-card">

                    <div class="card-body table-responsive">
                        <h4 class="card-title">Verified work Submission</h4>
                        </p>

                        <table class="table table-hover table-md text-left" id="myVerifiedList"
                            style="visibility:hidden ">
                            <thead class="table-success">
                                <tr role="row">
                                    <th role="columnheader">PO Number</th>
                                    <th role="columnheader">Description</th>
                                    <th role="columnheader">Scope</th>
                                    <th role="columnheader">Contractor Number</th>
                                    <th role="columnheader">Contractor Name</th>
                                    <th role="columnheader">Delivery Date</th>
                                    <th role="columnheader">Ship To Address</th>                                    
                                </tr>
                            </thead>
                            <tbody role="rowgroup">

                            </tbody>
                        </table>

                    </div>

                </div>
            </div>

        </div>

     

    </div>
</div>

@section Scripts {
<script>
    $(document).ready(function () {
        //  get all submission
        GetAllSubmission();

        GetAllVerified();

        function GetAllSubmission() {
            const proxyurl = "https://cors-anywhere.herokuapp.com/";
            const url = "https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/WorkplanCompleteSubmission"; // site that doesn’t send Access-Control-*
            const myurl = url;
            var list = new Array;


            $("#loading").show();
            $('main').addClass('blur');
            fetch(myurl, {
                cache: "no-cache",
                method: 'GET',
                headers: { 'Content-Type': 'application/json', },

            })
                .then(response => response.json())
                .then(function (data) {
                    console.log("submission list:");
                    console.log(data);
                    $("#loading").hide();
                    $('main').removeClass('blur');


                    //localStorage.setItem('workScheduledId' + workScheduledId, true);

                    var x = document.getElementById("mytable");
                    x.style.visibility = "visible";

                    var items = [];
                    list.length = 0;
                    list.push(items);
                    $("#tableRow").remove();
                    $.each(data, function (key, val) {
                        console.log(val.id);
                        $("#poWorkplanId").val(val.poWorkplanId);

                        list.push("<tr>");
                        list.push("<td  class='font-weight-bold' id='" + key + "'>" + val.ponumber + "</td>");
                        list.push("<td  class='' id='" + key + "'>" + val.description + "</td>");
                        list.push("<td  class='' id='" + key + "'>" + val.scope + "</td>");
                        list.push("<td  class='' id='" + key + "'>" + val.contractorNumber + "</td>");
                        list.push("<td  class='' id='" + key + "'>" + val.contractorName + "</td>");
                        list.push("<td  class='' id='" + key + "'>" + val.deliveryDate + "</td>");
                        list.push("<td  class='' id='" + key + "'>" + val.shipToAddress + "</td>");
                        list.push("<td  class='' id='" + key + "'><button class='btn btn-success btn_view' id='" + val.poWorkplanId + "' data-id='" + val.poWorkplanId + "'>View</button></td>");

                        list.push("</tr>");


                    });

                    $("<tbody/>", {
                        "class": "",
                        "id": "tableRow",
                        html: list.join("")
                    }).appendTo("#mytable");

                    $(".btn_view").click(function () {

                        var id = $(this).data('id');
                        if (id) {
                            window.location = '/PoEvaluationDetail?id=' + id;
                        }

                    });





                })
                .catch(function (error) {
                    // If there is any error you will catch them here
                    console.log(error);
                });
        }

        function GetAllVerified() {
            const proxyurl = "https://cors-anywhere.herokuapp.com/";
            const url = "https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/WorkplanCompleteSubmissionVerified"; // site that doesn’t send Access-Control-*
            const myurl = url;
            var list = new Array;

            $("#loading").show();
            $('main').addClass('blur');
            fetch(myurl, {
                cache: "no-cache",
                method: 'GET',
                headers: { 'Content-Type': 'application/json', },

            })
                .then(response => response.json())
                .then(function (data) {
                    console.log("submission list:");
                    console.log(data);
                   $("#loading").hide();
                    $('main').removeClass('blur');


                    //localStorage.setItem('workScheduledId' + workScheduledId, true);

                    var x = document.getElementById("myVerifiedList");
                    x.style.visibility = "visible";

                    var items = [];
                    list.length = 0;
                    list.push(items);
                    $("#tableVerified").remove();
                    $.each(data, function (key, val) {
                        console.log(val.id);
                        $("#poWorkplanId").val(val.poWorkplanId);

                        list.push("<tr>");
                        list.push("<td  class='font-weight-bold' id='" + key + "'>" + val.ponumber + "</td>");
                        list.push("<td  class='' id='" + key + "'>" + val.description + "</td>");
                        list.push("<td  class='' id='" + key + "'>" + val.scope + "</td>");
                        list.push("<td  class='' id='" + key + "'>" + val.contractorNumber + "</td>");
                        list.push("<td  class='' id='" + key + "'>" + val.contractorName + "</td>");
                        list.push("<td  class='' id='" + key + "'>" + val.deliveryDate + "</td>");
                        list.push("<td  class='' id='" + key + "'>" + val.shipToAddress + "</td>");
                        //list.push("<td  class='' id='" + key + "'> <input type='hidden' name='myid' value='" + val.poWorkplanId + "' id='hiddentinput'><button class='btn btn-success btn_view' id='" + val.poWorkplanId + "'>View</button></td>");

                        list.push("</tr>");


                    });

                    $("<tbody/>", {
                        "class": "",
                        "id": "tableVerified",
                        html: list.join("")
                    }).appendTo("#myVerifiedList");

                    // $(".btn_view").click(function () {

                    //     var id = $("#poWorkplanId").val();
                    //     if (id) {
                    //         window.location = '/PoEvaluationDetail?id=' + id;
                    //     }

                    // });





                })
                .catch(function (error) {
                    // If there is any error you will catch them here
                    console.log(error);
                });
        }



    });
</script>
}