﻿@page
@model cma_officer.Pages.ProgressReportModel
@{
ViewData["Title"] = "ProgressReport";
Layout = "~/Pages/Shared/_Layout.cshtml";
ViewData["Active"] = "progress";
}




<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title text-dark"> <i class="fas fa-search"></i> Carian Progress Report</h1>
            <form action="" method="post" id="BookPackageForm">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Po Nombor</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="poNum" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Bulan</label>
                            <div class="col-sm-9">
                                <select class="custom-select custom-select-md mb-3" id="month">
                                    <option selected class="text-primary">Pilih Bulan</option>
                                    <option value="1" class="p-2">Januari</option>
                                    <option value="2">Februari</option>
                                    <option value="3">Mac</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">Jun</option>
                                    <option value="7">Julai</option>
                                    <option value="8">Ogos</option>
                                    <option value="9">September</option>
                                    <option value="10">Oktober</option>
                                    <option value="11">November</option>
                                    <option value="12">Disember</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tahun</label>
                            <div class="col-sm-9">
                                <input type="text" class="yearpicker form-control" value="" id="year" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <button id="searchBtn" class="btn btn-primary btn-block btn-lg" type="button"><i
                                        class="fas fa-search mr-2"></i>CARI REPORT</button>
                            </div>
                        </div>
                    </div>

                </div>


            </form>
        </div>
    </div>
</div>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body table-responsive-sm">
            <h4 class="card-title">Hasil Carian Progress Report</h4>    

            <table class="table table-hover table-md text-left" id="mytable" style="visibility:hidden ">
                <thead class="table-dark">
                    <tr>
                        <th width="10%">work Scheduled Date</th>
                        <th>Name</th>
                        <th>po number</th>
                        <th>contractor Name</th>
                        <th>Notes</th>
                        <th>ToDoNotes</th>
                        <th>CheckIn</th>
                        <th>CheckOut</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>

            </table>



        </div>
    </div>
</div>


@section Scripts {

<script type="text/javascript" language="JavaScript">

    $(document).ready(function () {

        $(".yearpicker").yearpicker({
            year: 2020,
            startYear: null,
            endYear: 2030,
        });

        $("#datepicker").datepicker({
            format: "mm-yyyy" //  yyyy-mm
        });


        var list = new Array;



        function getData() {

            const proxyurl = "https://cors-anywhere.herokuapp.com/";
            const url = "https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/OfficerSearchProgressReport"; // site that doesn’t send Access-Control-*
            const myurl = url;

            var poNum, year, month = "";
            poNum = document.getElementById('poNum').value;
            year = document.getElementById('year').value;
            month = document.getElementById('month').value;
            console.log(poNum + "---" + year + "--" + month);



            $("#loading").show();
            $('main').addClass('blur');
            fetch(myurl, {
                //mode: 'no-cors', // 'cors' by default
                cache: "no-cache",
                method: 'post',
                headers: {                  
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({

                    "Ponumber": poNum,
                    "WorkProgressMonthString": month,
                    "WorkProgressYearString": year
                }),
            })
                .then(response => response.json())
                .then(function (data) {
                      $("#loading").hide();
                    $('main').removeClass('blur');
                    data.sort(function (a, b) {
                        return new Date(b.workProgressDateCreated) - new Date(a.workProgressDateCreated);
                    })
                    console.log(data);

                    var x = document.getElementById("mytable");
                    x.style.visibility = "visible";

                    var items = [];
                    list.length = 0;
                    list.push(items);
                    $("#tableRow").remove();
                    $.each(data, function (key, val) {

                        list.push("<tr>");
                        list.push('<td  class="" id=" + key + ">' + formatDate(val.workScheduledDateScheduled) + '</td>');
                        list.push('<td  class="" id=" + key + ">' + val.displayName + '</td>');
                        list.push('<td  class="" id=" + key + ">' + val.ponumber + '</td>');
                        list.push('<td  class="" id=" + key + ">' + val.contractorName + '</td>');
                        list.push('<td  class="" id=" + key + ">' + val.workProgressNotes + '</td>');
                        list.push('<td  class="" id=" + key + ">' + val.workScheduledToDoNotes + '</td>');
                        list.push('<td  class="text-success" id=" + key + ">' + (val.checkedInDatetime != null? val.checkedInDatetime : "" )+ '</td>');
                        list.push('<td  class="text-danger" id=" + key + ">' + (val.checkedOutDatetime != null? val.checkedOutDatetime :"")+ '</td>');
                        list.push('</tr>');  
                      
                    });                   

                    $("<tbody/>", {
                        "class": "",
                        "id": "tableRow",
                        html: list.join("")
                    }).appendTo("#mytable");

                })
                .catch(function (error) {
                    // If there is any error you will catch them here
                    console.log(error);
                });
        }



        const searchBtn = document.getElementById('searchBtn')
        searchBtn.addEventListener("click", function () {

            getData();
        });


    });
</script>
}