﻿@page
@model cma_officer.Pages.ProgressReportDetailModel
@{
ViewData["Title"] = "ProgressReportDetail";
Layout = "~/Pages/Shared/_Layout.cshtml";
}



<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <img src="" alt="">
        <div class="card-body">
          <legend>Progress Report Detail</legend>
          <ul class="list-group">
            <li class="list-group-item list-group-item-action card-inverse-info">
              <h5>PO 1234567</h5>
              <h6>Kerja-kerja pembersihan dan selenggara am.</h6>
            </li>
            <li class="list-group-item">
              <p>Tarikh mula arahan kerja (Kontrak PO)
              <p>
              <p class="text-muted"><i class="fas fa-calendar text-info mr-2"></i>
                10-Mar-2020
              </p>
            </li>
            <li class="list-group-item">
              <p>Delivery Date (Kontrak PO)
              <p>
              <p class="text-muted"><i class="fas fa-calendar text-info mr-2"></i>
                10-Mar-2020
              </p>
            </li>
            <li class="list-group-item">
              <p>Syarikat
              <p>
              <p class="text-muted"><i class="fas fa-building text-info mr-2"></i>
                Bina Maju Sdn. Bhd
              </p>
            </li>
            <li class="list-group-item">
              <p>Tarikh Rancang Mula Kerja (Workplan)
              <p>
              <p class="text-muted"><i class="fas fa-calendar text-info mr-2"></i>
                15-Mar-2020
              </p>
            </li>
            <li class="list-group-item">
              <p>Maklumat Lain
              <p>
              <p class="text-muted"><i class="fas fa-sticky-note text-info mr-2"></i>
                Limited access due to lockdown
              </p>
            </li>
            <li class="list-group-item">
              <p>Lokasi
              <p>
              <p class="text-muted"><i class="fas fa-map-marked text-info mr-2"></i>
                PE Abu Bakar Baginda
              </p>
            </li>
            <li class="list-group-item">
              <p>Tarikh Penugasan
              <p>
              <p class="text-muted"><i class="fas fa-calendar text-info mr-2"></i>
                10-Mar-2020
              </p>
            </li>
            <li class="list-group-item">
              <p>Nama Staff
              <p>
              <p class="text-muted"><i class="fas fa-user text-info mr-2"></i>
                A Samad
              </p>
            </li>
            <li class="list-group-item">
              <p>Check In Date
              <p>
              <p class="text-muted"><i class="fas fa-check-circle text-success mr-2"></i>
                29-Mar-2020
              </p>
            </li>
            <li class="list-group-item">
              <p>Check In Date
              <p>
              <p class="text-muted"><i class="fas fa-check-circle text-danger mr-2"></i>
                30-Mar-2020
              </p>
            </li>
          </ul>

          

         
         


        </div>
        <div class="card-footer text-center">
            <a class="btn btn-primary btn-icon-text col-md-4 text-white" asp-page="ProgressReport">
              <i class="fas fa-arrow-left mr-2"></i>
              Back
            </a>
        </div>
      </div>
    </div>
  </div>
</div>