﻿@page
@model cma_officer.Pages.sqe_approvalModel
@{
ViewData["Title"] = "sqe_approval";
Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"> <mark class="bg-success text-white"> PO 1234567</mark></h3>  
                <p class="card-title">Kerja-kerja pembersihan dan selenggara am. </p>
          
            <div class="table-responsive">
                <table class="table table-hover table-condense table-sm">
            
                    <tbody>
                        <tr>
                            <td width="auto">Nama Pekerja</td>
                            <td width="3px">:</td>
                            <td class="text-left"> Samad</td>
                        </tr>
                        <tr>
                            <td width="10%">lokasi</td>
                            <td width="3px">:</td>
                            <td class="text-left"> PE Abu Bakar Baginda</td>
                        </tr>
                        <tr>
                            <td width="10%">Kerja</td>
                            <td width="3px">:</td>
                            <td class="text-left"> Potong Rumput</td>
                        </tr>
                        <tr>
                            <td width="10%">Tarikh Hantar SQE</td>
                            <td width="3px">:</td>
                            <td class="text-left"> 12 April 2020</td>
                        </tr>
            
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <img src="" alt="">
          <div class="card-body">
            <h5 class="card-title"> CSQA Assessement</h5>
            <p class="card-text"></p>
            form goes here
            
          
          </div>
          <div class="card-footer text-center">
                  <a class="btn btn-danger btn-icon-text col-md-4 text-white btn-md" asp-page="SqeList" style="letter-spacing: 1.5px;">
              <i class="fas fa-check mr-2"></i>
              Acknowledge
            </a>
          </div>
        </div>
    </div> 

</div>

    
@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript" language="JavaScript">

    $.  getJSON ("https://bitbucket.org/cikin_my/myjson/raw/3fc8a93f3814df493a03a6e190df4b448434cfc8/sqe_checklist.json",
        function (data) {
      
       var items = [];
            $.each(data.active_po, function (key, val) {
                items.push("<tr>");
                items.push("<td id='" + key + "'>" + val.id + "</td>");
                items.push("<td id='" + key + "'>" + val.title + "</td>");
                 items.push("<td id='" + key + "'>" + val.lokasi + "</td>");
                  items.push("<td id='" + key + "'>" + val.startDate + "</td>");
                   items.push("<td id='" + key + "'>" + </td>");
                items.push("</tr>");
            });

            $("<tbody>", {html: items.join("")}).appendTo("#mytable");
              
    });

   
</script>
}