﻿@page
@model cma_officer.Pages.SqeDetailModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "SqeDetail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="alert alert-success p-3" role="alert" style="display: none ;" id="success_msg">
    <i class="fas fa-check-circle fa-lg mr-2"></i> Kemaskini Berjaya
</div>
<div class="alert alert-danger p-3" role="alert" style="display: none ;" id="error_msg">
    <i class="fas fa-check-circle fa-lg mr-2"></i> Ralat Kemaskini. Sila cuba sekali lagi.
</div>
<!-- --------- -->
<div class="alert alert-success p-3" role="alert" style="display: none ;" id="success_msg2">
    <i class="fas fa-check-circle fa-lg mr-2"></i> Senarai Pematuhan telah di kemaskini
</div>
<div class="alert alert-danger p-3" role="alert" style="display: none ;" id="error_msg2">
    <i class="fas fa-times-circle fa-lg mr-2"></i> Ralat Kemaskini Senarai Pematuhan, Sila cuba sekali lagi.
</div>

<div class="container">
    <div class="card">
        <img src="" alt="">
        <div class="card-body">
            <h5 class="card-title">
                Pematuhan SQE <span class="text-danger">(Staff TNB)</span>
            </h5>
            @*<h2>@Model.UserId </h2>*@

            <div class="row">
                <div class="col-md-12">
                    <form class="forms-sample" id="myform" method="post">

                        <div class="form-group">
                            <label for="exampleInputUsername1">SB</label>
                            <input type="text" class="form-control col-md-2" id="sqe_sb" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">USB</label>
                            <input type="text" class="form-control col-md-2" id="sqe_usb" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="exampleTextarea1">Catatan</label>
                            <textarea class="form-control" id="sqe_catatan" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Bilangan Notis Larangan Kerja</label>
                            <textarea class="form-control" id="sqe_notis_larangan" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Notis Pembaikan</label>
                            <textarea class="form-control" id="sqe_pembaikan" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Work Progress</label>
                            <textarea class="form-control" id="SqeworkProgress" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Work Quality</label>
                            <textarea class="form-control" id="SqeworkQuality" rows="4"></textarea>
                        </div>
                        <div class="">
                            <label for="exampleTextarea1">Overall Performance</label>
                            <div class="row text-left">
                                <div class="col-md-12">

                                    <div class="container">
                                        <div class="row">
                                            <div class="rating">
                                                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Outstanding">5 stars</label>
                                                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Very Good">
                                                    4
                                                    stars
                                                </label>
                                                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Good">
                                                    3
                                                    stars
                                                </label>
                                                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Poor">
                                                    2
                                                    stars
                                                </label>
                                                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Very Poor">
                                                    1
                                                    star
                                                </label>
                                            </div>
                                        </div>
                                    </div>



                                </div>


                            </div>
                        </div>
                    </form>
                    <hr>

                    <div class="col-md-12 text-center mt-5">
                        <button type="button" class="btn btn-danger  btn-icon-text ls-2" id="btn-submit">
                            <i class="fas fa-paper-plane"></i>
                            Hantar
                        </button>

                    </div>

                    <hr>
                    <div class="alert alert-info" role="alert">
                        Senarai Pematuhan
                    </div>


                    <div class="" id="mytable" style="visibility:hidden ; ">

                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button type="button" class="btn btn-primary btn-icon-text ls-2" id="btn-submit"
                    onclick="javascript:history.go(-1)">
                <i class="fas fa-arrow-left"></i>
                Kembali
            </button>
        </div>
    </div>
</div>

<input type="hidden" name="SqelastUpdatedByUserId" value=@Model.UserId id="SqelastUpdatedByUserId">


@section Scripts {

    <script type="text/javascript" language="JavaScript">

    $(document).ready(function () {
        // constants.................
        const proxyurl = "https://cors-anywhere.herokuapp.com/";// site that doesn’t send Access-Control-*

        //1.get worksheduleid
        var id = getUrlVars()["id"];
        console.log("id: " + id);

        // 2. load form with data
        getAllFormData(id);

        //3.load sqe list
        getSqeList(id);

        //4.click save
        $("#btn-submit").click(function (e) {

            SaveForm(e);

        });

        // functions.................
        //get workscheduleid
        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
                vars[key] = value;
            });
            return vars;
        }

        //get form data
        function getAllFormData(id) {
            const url = "https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/PoinfoesWithWorkplanByWorkScheduledID/" + id;
            console.log("url : " + url);

            $("#loading").show();
            $('main').addClass('blur');
            fetch(url, {
                cache: "no-cache",
                method: 'GET',
                headers: {
                      'Content-Type': 'application/json',
                },

            })
                .then(response => response.json())
                .then(function (data) {
                    $("#loading").hide();
                    $('main').removeClass('blur');
                    console.log("data retrieveds: ", data);


                    $.each(data, function (key, val) {
                        $("#sqe_sb").val(val.sqecomplianceSb == null ? "" : val.sqecomplianceSb);
                        $("#sqe_usb").val(val.sqecomplianceUsb == null ? "" : val.sqecomplianceUsb);
                        $("#sqe_catatan").val(val.sqenotes == null ? "" : val.sqenotes);
                        $("#sqe_notis_larangan").val(val.sqenotisLaranganKerjaNumber == null ? "" : val.sqenotisLaranganKerjaNumber);
                        $("textarea#sqe_pembaikan").val(val.sqenotisPembaikan == null ? "" : val.sqenotisPembaikan);
                        // $("#SqelastUpdatedByUserId").val(val.sqelastUpdatedByUserId == null ? "SqelastUpdatedByUserId is null" : val.sqelastUpdatedByUserId);

                        $("#SqeworkProgress").val(val.sqeworkProgress);
                        $("#SqeworkQuality").val(val.sqeworkQuality);
                        // performance
                        $("input[name=rating][value=" + val.sqeperformance + "]").prop('checked', true);

                        val.riskCategoryHigh == null ? $("#riskCategoryHigh").prop("checked", false) : $("#riskCategoryHigh").prop("checked", true);
                        val.riskCategoryMedium == null ? $("#riskCategoryMedium").prop("checked", false) : $("#riskCategoryMedium").prop("checked", true);
                        val.riskCategoryLow == null ? $("#riskCategoryLow").prop("checked", false) : $("#riskCategoryLow").prop("checked", true);

                    });

                })
                .catch(function (error) {
                    // If there is any error you will catch them here
                    console.log(error);
                });
        }

        //save form
        function SaveForm(e) {
            const url = "https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/SQELists";

            


            RiskCategoryHigh = $('#riskCategoryHigh').is(':checked') ? true : false;
            RiskCategoryMedium = $('#riskCategoryMedium').is(':checked') ? true : false;
            RiskCategoryLow = $('#riskCategoryLow').is(':checked') ? true : false;

            SqecomplianceSb = $('#sqe_sb').val();
            SqecomplianceUsb = $('#sqe_usb').val();
            Sqenotes = $('#sqe_catatan').val();
            SqenotisLaranganKerjaNumber = $('#sqe_notis_larangan').val();
            SqenotisPembaikan = $('#sqe_pembaikan').val();
            SqelastUpdatedByUserId = $("#SqelastUpdatedByUserId").val();

            overallRating = $("input[name=rating]:checked").val();
            SqeworkProgress = $('#SqeworkProgress').val();
            SqeworkQuality = $('#SqeworkQuality').val();


            $("#loading-inner").show();
            fetch(url, {
                cache: "no-cache",
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    "Id": id,
                    "SqecomplianceSb": SqecomplianceSb,
                    "SqecomplianceUsb": SqecomplianceUsb,
                    "Sqenotes": Sqenotes,
                    "SqenotisLaranganKerjaNumber": SqenotisLaranganKerjaNumber,
                    "SqenotisPembaikan": SqenotisPembaikan,
                    "sqelastUpdatedByUserId": SqelastUpdatedByUserId,
                    "riskCategoryHigh": RiskCategoryHigh,
                    "riskCategoryMedium": RiskCategoryMedium,
                    "riskCategoryLow": RiskCategoryLow,

                    "SqeworkProgress": SqeworkProgress,
                    "SqeworkQuality": SqeworkQuality,
                    "Sqeperformance": overallRating,
                }),

            })
                .then(function (data) {
                    $("#loading-inner").hide();
                    if (data.status == "200") {
                        $("#success_msg").fadeIn(300).delay(1500).fadeOut(400);
                        getAllFormData(id);
                    } else {
                        $("#error_msg").fadeIn(300).delay(1500).fadeOut(400);
                        console.log(data.status);
                    }
                })
                .catch(function (error) {
                    // If there is any error you will catch them here
                    console.log(error);
                });
        }

        // ========================
        //get sqe List
        function getSqeList(id) {
            const url = "https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/SQELists/";
            var list = new Array;

            fetch(url + id, {
                //mode: 'no-cors', // 'cors' by default
                cache: "no-cache",
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },

            })
                .then(response => response.json())
                .then(function (data) {
                    // console.log("Sqe List:");
                    // console.log(data);
                    var x = document.getElementById("mytable");
                    x.style.visibility = "visible";


                    var items = [];
                    list.length = 0;

                    list.push(items);
                    $("#tableRow").remove();
                    $.each(data, function (key, val) {

                        list.push("<tr>");
                        list.push("<td class='font-weight-bold' id='" + key + "'> " + val.numbering + "</td>");
                        list.push("<td id='" + key + "'>" + "<div class='col-sm-12 p-0 m-0'><pre style='word-wrap: break-word; white-space: pre-wrap; line-height:20px'>" + (val.description).replace(/\r\n/, "<br>") + "</pre></div>" + "</td>");
                        list.push("<td width='10%' id='" + key + "'>" +

                            "<fieldset class='form-group'>" +
                            "<div class='form-check'> <input class='form-check-input ml-0 pl-0 sb' type='radio' name='" + val.id + "' id='" + val.id + "'  value='sb'" + (val.safeBehaviour == true ? "checked" : "") + " > <label class='form-check-label ml-3' for='" + val.id + "'> SB</label></div>" +
                            "<div class='form-check'> <input class='form-check-input ml-0 pl-0 sb' type='radio' name='" + val.id + "' id='" + val.id + "'  value='usb'" + (val.unsafeBehaviour == true ? "checked" : "") + "> <label class='form-check-label ml-3' for='" + val.id + "'>USB </label> </div>" +
                            "<div class='form-check'> <input class='form-check-input ml-0 pl-0 sb' type='radio' name='" + val.id + "' id='" + val.id + "' value='na'" + (val.notApplicable == true ? "checked" : "") + "> <label class='form-check-label ml-3' for='" + val.id + "'> N/A</label></div>" +
                            "</fieldset>");
                        list.push("</tr>");


                    });

                    $("<table/>", {
                        "class": "table table-hover table-sm ",
                        "id": "tableRow",
                        html: list.join('')
                    }).appendTo("#mytable");

                    var newValue = ""; // vale of checked radio button
                    var oldValue = ""; // value of unchecked radio button
                    var id = "";

                    $('.sb').change(function () {
                        oldValue = newValue;
                        newValue = $(this).val();
                        id = $(this).attr('id');
                        // alert(newValue);
                        UpdateSqeList(newValue, id);
                    });


                })
                .catch(function (error) {
                    // If there is any error you will catch them here
                    console.log(error);
                });
        }
        //save sqelist
        function UpdateSqeList(checkedValue, itemid) {
            const url = "https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/SQELists";

            console.log(checkedValue + "--id: " + id);

            var SafeBehaviour, UnsafeBehaviour, NotApplicable = "";
            switch (checkedValue) {
                case "sb":
                    SafeBehaviour = "true";
                    UnsafeBehaviour = "false";
                    NotApplicable = "false";
                    break;
                case "usb":
                    SafeBehaviour = "false";
                    UnsafeBehaviour = "true";
                    NotApplicable = "false";
                    break;
                default:
                    SafeBehaviour = "false";
                    UnsafeBehaviour = "false";
                    NotApplicable = "true";
                // code block
            }

            //S  console.log("sb:" + SafeBehaviour + "-- usb:" + UnsafeBehaviour + "--na:" + NotApplicable)



            var list = new Array;
            $("#loading-inner").show();
            fetch(url, {

                cache: "no-cache",
                method: 'PUT',
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    "Id": itemid,
                    "WorkScheduledId": id,
                    "SafeBehaviour": SafeBehaviour,
                    "UnsafeBehaviour": UnsafeBehaviour,
                    "NotApplicable": NotApplicable,
                    "sqelastUpdatedByUserId": $("#SqelastUpdatedByUserId").val(), //---> this line causing an error
                }),

            })

                .then(function (data) {
                    $("#loading-inner").hide();

                    if (data.status == "200") {
                        $("#success_msg2").fadeIn(300).delay(1500).fadeOut(400)
                        // ("#tableRow").html(data.html);
                        console.log(data);
                        getDataSqeList();
                    } else {
                        $("#error_msg2").fadeIn(300).delay(1500).fadeOut(400);
                        console.log(data.status);
                    }


                })
                .catch(function (error) {
                    // If there is any error you will catch them here
                    console.log(error);
                });

        }
    });

    </script>
}