﻿@page
@model cma_officer.Pages.SqeSearchModel
@{
ViewData["Title"] = "SqeSearch";
Layout = "~/Pages/Shared/_Layout.cshtml";
}





<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body table-responsive">
            <h4 class="card-title">Carian Tugasan Checked In Yang Belum Check Out</h4>

            <table class="table table-hover table-md text-left" id="mytable" style="visibility:hidden ">
                <thead class="table-dark">
                    <tr>
                        <th width="15%">Worker Name</th>
                        <th width="15%">Contractor Name</th>
                        <th width="15%">Location</th>
                        <th width="15%">To Do</th>
                        <th width="5%">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>

            </table>
        </div>
    </div>
</div>


@section Scripts {

<script type="text/javascript" language="JavaScript">


    $(document).ready(function () {

        var fullDate = new Date()
        console.log(fullDate);
        //convert month to 2 digits
        var twoDigitMonth = ((fullDate.getMonth().length + 1) === 1) ? (fullDate.getMonth() + 1) : (fullDate.getMonth() + 1);
        var currentDate = fullDate.getFullYear() + "-" + twoDigitMonth + "-" + fullDate.getDate();
        console.log(currentDate);

        getAllSqeList();


        var list = new Array;

        function getAllSqeList() {

            const proxyurl = "https://cors-anywhere.herokuapp.com/";
            const url = "https://lt7kckwhei.execute-api.ap-southeast-1.amazonaws.com/Prod/api/OfficerSearchSQE/";// site that doesn’t send Access-Control-*           
            const myurl = url;


           $("#loading").show();
            fetch(myurl  +" 2020-11-12", {// + currentDate, {
                //mode: 'no-cors', // 'cors' by default
                cache: "no-cache",
                method: 'GET',
                headers: {                   
                    'Content-Type': 'application/json'
                },
            })
                .then(response => response.json())
                .then(function (data) {
                   $("#loading").hide();
                    console.log(data);

                    //localStorage.setItem('workScheduledId' + workScheduledId, true);


                    var x = document.getElementById("mytable");
                    x.style.visibility = "visible";

                    var items = [];
                    list.length = 0;
                    list.push(items);
                    $("#tableRow").remove();
                    $.each(data, function (key, val) {
                        list.push("<tr>");
                        list.push("<td  class='' id='" + key + "'>" + val.contractorWorkerDisplayName + "</td>");
                        list.push("<td  class='' id='" + key + "'>" + val.contractorName + "</td>");
                        list.push("<td  class='' id='" + key + "'>" + val.location + "</td>");
                        list.push("<td  class='' id='" + key + "'>" + val.toDoNotes + "</td>");
                        list.push("<td  class='' id='" + key + "'> <button class='btn btn-success btn_viewSQE' id='" + val.workScheduledId + "' data-id='" + val.workScheduledId + "'>View SQE</button></td>");

                        list.push("</tr>");


                    });

                    $("<tbody/>", {
                        "class": "",
                        "id": "tableRow",
                        html: list.join("")
                    }).appendTo("#mytable");

                    $(".btn_viewSQE").click(function () {
                        //     var workscheduleid = "";
                        //    // alert("click event");
                        //     workscheduleid = $(this).attr('id');
                        //     localStorage.setItem("workscheduleid", workscheduleid);
                        //     alert(workscheduleid);
                        //     window.location.href = "/SqeDetail";

                        var id = $(this).data('id');
                        if (id) {
                            window.location = '/SqeDetail?id=' + id;
                        }

                    });




                  


                })
                .catch(function (error) {
                    // If there is any error you will catch them here
                    console.log(error);
                });
        }


    });
</script>
}